ul {
list-style: none;
padding: 0px;
margin: 0px;
display: block;
}

.red{color:red;}
.qxjk-ul li {
float: left;
font-size: 14px;
margin: 20px 35px 0px 10px;
}


.sidebar{
position: fixed;
top: 150px;
bottom: 0;
left: 0;
z-index: 1000;
display: block;
padding: 0px;
overflow-x: hidden;
overflow-y: auto;
background-color: #EAEDF2;
border-right: 1px solid #eee;	
}
.lt-left{padding:0px;background:#EAEDF2;}
.lt-left-title{height:70px;background: #D9DEE4;
font-size: 14px;
text-transform: uppercase;
color: #333333;
text-align: center;
height: 50px;
line-height: 60px;
font-weight: 900;
background: #D9DEE4;
}

.lt-con{}
.lt-left li{
color:#393939;
box-sizing: border-box;
display: inline-block;
width: 100%;
vertical-align: top;
height:40px;
line-height:35px;
}
.lt-left li:hover{
background: #FFFFFF;
}
.lt-right{min-height:700px;margin-top:140px;}

.lt-left  li  a {
    display: block;
    padding: 0.5rem 0.75rem;
    text-decoration: none;
    color: #333;
    font-size: 14px;
    text-align: center;
}
.lt-left li  a:hover {
    border-color: #f3f3f5;
	color:red;
}
.lt-box{background:#fff;margin-bottom:10px;}
#menu {
overflow: hidden;

padding: 10px 0px 0px 10px;

}
#menu #nav {
display: block;
width: 100%;
padding: 0;
margin: 0;
list-style: none;
}
#nav p {
float: left;
width: 100px;
font-size: 14px;
line-height: 33px;
height: 33px;
width: 73px;
}
#menu #nav li {
float: left;
width: 100px;
font-size: 14px;
line-height: 33px;
height: 33px;
}
#menu #nav li a {
display: block;
line-height: 33px;
height: 33px;
text-decoration: none;
padding: 0 0 0 5px;
text-align: center;
color: #333;
}
.selected {
background: #03752F;
color: #fff !important;
border-radius: 5px;
border-bottom-left-radius: 0;
border-bottom-right-radius: 0;
}
#menu_con {
height:50px;
margin: 0px 20px 10px 0px;
border: 1px solid #03752F;
}
.qxjk-ul a {
color: #333;
font-size: 14px;
}

.t-third li {
float: left;
margin: 0px 15px 0px 0px;
}


/*top*/
.toolbar {
height: 30px;
line-height: 30px;
_overflow: hidden;
background: #f1f1f1;
color: #666;

}
.f-fl {
float: left;
}
.toolbar .mod-sitemap {
float: right;
display: block;
}
.nav {
width: 100%;
height: 40px;
background: #FF0000;
}
.container {
width: 1190px;
margin: 0 auto;
height: auto;
zoom: 1;
}
.nav .menu li {
float: left;
width:100px;
height: 40px;
line-height: 40px;

}
.nav .menu li a:hover, .nav .menu li a.active {
text-decoration: none;
background: #D31119;
}
.nav .menu li a {
position: relative;
display: inline-block;

height: 40px;
line-height: 40px;
font-size: 16px;
text-align: center;
width: 100px;
color: #ffffff;
}


.search-box{padding: 10px 0px 0px 10px;}
.top_nav{width:100%;}
.top_nav ul li{float:left;font-size:18px;height:40px;color:#fff;padding:10px;}
.top_nav ul li h4{margin-top:3px;}
.top_nav ul li:hover{color:#E0FD28;}
.top{width: 100%;
}
.top-search {
color: #000;
width: 170px;
height: 35px;
float: left;
}
.top-user {
height: 35px;
margin: 15px 35px 0px 0px;
line-height: 35px;
width: 130px;
float: right;
}
.top-sbtn {
color: #000;
font-size: 14px;
width: 130px;
height: 35px;
margin: 15px 9px 0px 15px;
line-height: 35px;
}
.top-user span {
color: #000;
font-size: 14px;
}
.top-user img {
width: 35px;
height: 35px;
border-radius: 20px;
position: absolute;
margin: 0px 0px 0px -40px;
}
.user-info {
max-width: 100px;
display: inline-block;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
text-align: left;
vertical-align: top;
line-height: 15px;
position: relative;
top: 6px;
}
.top-exit {
width: 20px !important;
height: 20px !important;
border-radius: 0px !important;
margin: 10px 0px 0px 15px !important;
}
/*top end*/
.table {
width: 100%;
max-width: 100%;
margin-bottom: 20px;
}
.table > thead > tr {
color: #707070;
font-weight: normal;
background: #F2F2F2;
background-image: -webkit-linear-gradient(top, #f8f8f8 0%, #ececec 100%);
background-image: -o-linear-gradient(top, #f8f8f8 0%, #ececec 100%);
background-image: linear-gradient(to bottom, #f8f8f8 0%, #ececec 100%);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8f8f8', endColorstr='#ffececec', GradientType=0);
}
tr {
display: table-row;
vertical-align: inherit;
border-color: inherit;
}
#simple-table tr td{text-align: left; }
#simple-table tr th{text-align: center;font-size:12px; }

.search-table tr td{
	padding:2px;
}

.list-app {
width: 262px;
padding-top: 133px;
float: left;
margin-right: 40px;
background: rgb(247, 247, 247);
-webkit-transition: all .3s ease-in;
-moz-transition: all .3s ease-in;
transition: all .3s ease-in;
position: relative;
-webkit-box-shadow: 0 3px 2px rgb(240, 240, 240);
-moz-box-shadow: 0 3px 2px rgb(240, 240, 240);
box-shadow: 0 3px 2px rgb(240, 240, 240);
}
.list-app i {
position: absolute;
top: 25px;
left: 50%;
-webkit-transform: translateX(-50%);
-moz-transform: translateX(-50%);
-ms-transform: translateX(-50%);
transform: translateX(-50%);
}
.apply-four li:nth-child(1) i {
background: url(../images/icon_index.png) 0px -25px no-repeat;
}
.apply-four li:nth-child(2) i {
  background: url(../images/icon_index.png) -235px -25px no-repeat;
}
.apply-four li:nth-child(3) i {
  background: url(../images/icon_index.png) -455px -25px no-repeat;
}
.apply-four li:nth-child(4) i {
  background: url(../images/icon_index.png) 0px -25px no-repeat;
}
.list-app h5 {
text-align: center;
font-size: 22px;
color: rgb(94, 104, 119);
padding-bottom: 14px;
}
.list-app .apply-price {
color: rgb(156, 163, 175);
text-align: center;
padding-bottom: 10px;
height: 34px;
}
.list-app .apply-des {
padding: 0 40px;
font-size: 14px;
text-align: center;
color: rgb(94, 104, 119);
line-height: 1.5;
}
.index-btn {
text-decoration: none;
display: block;
margin: 0 auto;
margin-top: 14px;
width: 156px;
line-height: 40px;
text-align: center;
background: red;
border: none;
margin-bottom: 21px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
color: rgb(255, 255, 255);
opacity: .8;
filter: alpha(opacity=80);
-webkit-transition: all .3s ease-in;
-moz-transition: all .3s ease-in;
transition: all .3s ease-in;
}
.apply-four li:hover {
  background: rgb(229, 239, 240);
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.apply-four li:hover .index-btn {
  -webkit-transition: background .3s ease-in;
  -moz-transition: background .3s ease-in;
  transition: background .3s ease-in;
  background: red;
}
