
table {
    border-collapse:collapse;
    border-spacing:0
}
caption, th, td {
    text-align:left;
    font-weight:normal;
    vertical-align:middle
}
q, blockquote {
    quotes:none
}
q:before, q:after, blockquote:before, blockquote:after {
    content:"";
    content:none
}
a img {
    border:none
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display:block
}
ol.hashTabber-nav, ol.hashTabber-data {
    list-style:none;
    margin:0;
    padding:0
}
ol.hashTabber-data>li {
    display:none
}
ol.hashTabber-data>li.active {
    display:block;
	border:0;
}






:focus {
    outline-color:#F00;
    outline-style:auto;
    outline-width:0.25rem
}
::-moz-focus-inner {
    border:0
}
img, embed, object, video {
    max-width:100%
}
::selection {
    color:#fff;
    background-color:#00b464
}
::-moz-selection {
    color:#fff;
    background-color:#00b464
}




h1, h2, h3, h4, h5, h6 {
    line-height:30px;
}

h1 a, h1 a:hover, h2 a, h2 a:hover, h3 a, h3 a:hover, h4 a, h4 a:hover, h5 a, h5 a:hover, h6 a, h6 a:hover {
    text-decoration:none
}
h1 {
    font-size:3rem
}
h1.page-title {
    font-size:4.5rem;
    font-weight:700;
    padding:3rem 0 4.5rem;
    letter-spacing:-0.125rem;
    color:#00b464;
    text-shadow:#095 0 0.125rem 0
}

a.page-logo {
    display:block;
    width:80%;
    height:auto;
    margin:0 auto
}
a.page-logo svg {
    max-height:100%
}
a.page-logo svg path {
    fill:#00b464
}
a.page-logo:hover svg path {
    fill:#4cca92
}
h2 {
    font-size:2rem
}
h3 {
    font-size:1.5rem
}



ol {
    list-style-type:decimal
}
strong {
    font-weight:bold
}
em {
    font-style:italic
}
code {
    font-family:"Source Code Pro", monospace;
    font-size:0.75rem;
    background-color:#f2f0ef;
    border:0.0625rem solid #cbc5c1;
    padding:0 0.125rem;
    -webkit-border-radius:0.25rem;
    -moz-border-radius:0.25rem;
    -ms-border-radius:0.25rem;
    -o-border-radius:0.25rem;
    border-radius:0.25rem
}
pre code {
    display:block;
    width:100%;
    overflow-x:auto;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    padding:0.5rem
}
small, sub, sup {
    font-size:75%
}
sub, sup {
    line-height:0;
    position:relative;
    vertical-align:baseline
}
sup {
    top:-0.5em
}
sub {
    bottom:-0.25em
}

header.page-header {
    max-width:48rem;
    margin:1rem auto
}
section.page-content {
    max-width:48rem;
    margin:auto
}
section.example {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    display:inline-block;
    width:100%;
    vertical-align:top;
}
footer.page-footer {
    max-width:48rem;
    margin:auto;
    padding:4.5rem 0 1.5rem
}
a.fake-button {
    color:#fff;
    background-color:#00b464;
    line-height:2rem;
    padding:0 0.5rem;
    display:inline-block;
    text-decoration:none;
    border-bottom:0.125rem solid #095;
    -webkit-border-radius:0.25rem;
    -moz-border-radius:0.25rem;
    -ms-border-radius:0.25rem;
    -o-border-radius:0.25rem;
    border-radius:0.25rem
}
a.fake-button:hover {
    background-color:#4cca92;
    border-color:#095
}
a.fake-button.fake-button-big {
    font-size:1.5rem;
    line-height:3rem;
    padding:0 0.75rem
}
nav.page-main-navigation {
    top:0;
    right:0;
    position:fixed;
    z-index:2;
    font-size:1rem;
    -webkit-transition:right 0.3s;
    -moz-transition:right 0.3s;
    -o-transition:right 0.3s;
    transition:right 0.3s
}
nav.page-main-navigation:target {
    right:10rem
}
nav.page-main-navigation:target a.open {
    display:none
}
nav.page-main-navigation:target a.close {
    display:block
}
nav.page-main-navigation ol {
    height:auto;
    margin:0;
    top:0;
    left:0;
    position:absolute
}
nav.page-main-navigation ol li {
    display:block
}
nav.page-main-navigation ol li a {
    width:10rem
}
nav.page-main-navigation ol li:last-child a {
    border-bottom:0.125rem solid #095;
    -webkit-border-radius:0 0 0 0.25rem;
    -moz-border-radius:0 0 0 0.25rem;
    -ms-border-radius:0 0 0 0.25rem;
    -o-border-radius:0 0 0 0.25rem;
    border-radius:0 0 0 0.25rem
}
nav.page-main-navigation a {
    color:#fff;
    background-color:#00b464;
    line-height:2rem;
    padding:0 0.5rem;
    display:block;
    text-decoration:none;
    text-align:left
}
nav.page-main-navigation a:hover {
    background-color:#4cca92;
}
nav.page-main-navigation a.close, nav.page-main-navigation a.open {
    top:0;
    right:0;
    position:absolute;
    border-bottom:0.125rem solid #095;
    -webkit-border-radius:0 0 0 0.25rem;
    -moz-border-radius:0 0 0 0.25rem;
    -ms-border-radius:0 0 0 0.25rem;
    -o-border-radius:0 0 0 0.25rem;
    border-radius:0 0 0 0.25rem
}
nav.page-main-navigation a.close {
    display:none
}
.hashTabber-sandstone-wrapper {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    display:inline-block;
    width:100%;
    vertical-align:top;
}
ol.hashTabber-nav.hashTabber-sandstone, ol.hashTabber-data.hashTabber-sandstone {
    list-style:none;
    margin:0;
    padding:0
}
ol.hashTabber-nav.hashTabber-sandstone {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    width: 130px;
    vertical-align: top;
    background: #EAEDF2 !important;
    padding: 0px 0px 1519px 0px;
}

ol.hashTabber-nav.hashTabber-sandstone>h2 {
    font-size: 16px;
    text-transform: uppercase;
    color: #333333;
    text-align: center;
    height: 70px;
    line-height: 70px;
    font-weight: 900;
    background: #D9DEE4;
}
ol.hashTabber-nav.hashTabber-sandstone>li {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    display:inline-block;
    width:100%;
    vertical-align:top
}
ol.hashTabber-nav.hashTabber-sandstone>li.active a {
    background-color:#f3f3f5;
	border:0;
}
ol.hashTabber-nav.hashTabber-sandstone>li.active a:hover {
    background-color:#f3f3f5;
    color:#CF2D22;
	border:0;
}
ol.hashTabber-nav.hashTabber-sandstone > li > a {
    display: block;
    padding: 0.5rem 0.75rem;
    text-decoration: none;
    color: #333;
    font-size: 14px;
    text-align: center;
}
ol.hashTabber-nav.hashTabber-sandstone > li > a:hover {
    background-color: #f3f3f5;
    border-color: #f3f3f5;
	color:#CF2D22;
}

ol.hashTabber-data.hashTabber-sandstone {
    box-sizing: border-box;
    display: inline-block;
    width: 88%;
    vertical-align: top;
    min-height: 20rem;
}

