<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="cacheEnabled" value="true"/>
		<setting name="useGeneratedKeys" value="true"/>
	</settings>

	<typeAliases>
		<typeAlias alias="Patent" type="com.lotut.pms.domain.Patent"/>
		<typeAlias alias="PatentDoc" type="com.lotut.pms.domain.PatentDoc"/>
		<typeAlias alias="GoodsFirstColumn" type="com.lotut.pms.domain.GoodsFirstColumn"/>
		<typeAlias alias="GoodsSecondColumn" type="com.lotut.pms.domain.GoodsSecondColumn"/>
		<typeAlias alias="GoodsDetail" type="com.lotut.pms.domain.GoodsDetail"/>
		
		<typeAlias alias="PatentStatus" type="com.lotut.pms.domain.PatentStatus"/>
		<typeAlias alias="PatentType" type="com.lotut.pms.domain.PatentType"/>
		<typeAlias alias="PatentSearchCondition" type="com.lotut.pms.domain.PatentSearchCondition"/>
		<typeAlias alias="TransactionPatentSearchCondition" type="com.lotut.pms.domain.TransactionPatentSearchCondition"/>
		<typeAlias alias="OrderSearchCondition" type="com.lotut.pms.domain.OrderSearchCondition"/>
		<typeAlias alias="SharePatent" type="com.lotut.pms.domain.SharePatent"/>
		
		<typeAlias alias="Notice" type="com.lotut.pms.domain.Notice"/>
		<typeAlias alias="NoticeProcessStatus" type="com.lotut.pms.domain.NoticeProcessStatus"/>
		<typeAlias alias="NoticeType" type="com.lotut.pms.domain.NoticeType"/>
		<typeAlias alias="NoticePaperApplyType" type="com.lotut.pms.domain.NoticePaperApplyType"/>
		<typeAlias alias="NoticeSearchCondition" type="com.lotut.pms.domain.NoticeSearchCondition"/>
		
		<typeAlias alias="Fee" type="com.lotut.pms.domain.Fee"/>
		<typeAlias alias="FeeProcessStatus" type="com.lotut.pms.domain.FeeProcessStatus"/>
		<typeAlias alias="FeePaymentStatus" type="com.lotut.pms.domain.FeePaymentStatus"/>
		<typeAlias alias="FeeMonitorStatus" type="com.lotut.pms.domain.FeeMonitorStatus"/>
		<typeAlias alias="FeeSearchCondition" type="com.lotut.pms.domain.FeeSearchCondition"/>
		
		<typeAlias alias="User" type="com.lotut.pms.domain.User"/>
		<typeAlias alias="Friend" type="com.lotut.pms.domain.Friend"/>
		<typeAlias alias="ContactAddress" type="com.lotut.pms.domain.ContactAddress"/>
		<typeAlias alias="Page" type="com.lotut.pms.domain.Page"/>

		<typeAlias alias="Order" type="com.lotut.pms.domain.Order"/>
		<typeAlias alias="OrderItem" type="com.lotut.pms.domain.OrderItem"/>
		<typeAlias alias="OrderStatus" type="com.lotut.pms.domain.OrderStatus"/>
		<typeAlias alias="OrderSendStatus" type="com.lotut.pms.domain.OrderSendStatus"/>
		<typeAlias alias="PaymentMethod" type="com.lotut.pms.domain.PaymentMethod"/>
		<typeAlias alias="AdminOrderSearchCondition" type="com.lotut.pms.domain.AdminOrderSearchCondition"/>
		<typeAlias alias="StatsHashMap" type="com.lotut.pms.domain.StatsHashMap"/>
		<typeAlias alias="PatentOfficeAccount" type="com.lotut.pms.domain.PatentOfficeAccount"/>
		
		<typeAlias type="com.lotut.pms.domain.PatentRemark" alias="PatentRemark"/>
		<typeAlias type="com.lotut.pms.domain.NoticeRemark" alias="NoticeRemark"/>
		<typeAlias type="com.lotut.pms.domain.PatentDocSectionType" alias="PatentDocSectionType"/>
		<typeAlias type="com.lotut.pms.domain.PatentDocumentTemplate" alias="PatentDocumentTemplate"/>
		<typeAlias type="com.lotut.pms.domain.Attachment" alias="Attachment"/>
		<typeAlias type="com.lotut.pms.domain.TemplatePage" alias="TemplatePage"/>
		<typeAlias type="com.lotut.pms.domain.CustomerSupport" alias="CustomerSupport"/>
		<typeAlias type="com.lotut.pms.domain.TechPerson" alias="TechPerson"/>
		<typeAlias type="com.lotut.pms.domain.ProcessPerson" alias="ProcessPerson"/>
		<typeAlias type="com.lotut.pms.domain.ProxyOrg" alias="ProxyOrg"/>		
	
		<typeAlias type="com.lotut.pms.domain.CommonAppPerson" alias="CommonAppPerson"/>
		<typeAlias type="com.lotut.pms.domain.CommonInventor" alias="CommonInventor"/>
		<typeAlias alias="PatentDocStatus" type="com.lotut.pms.domain.PatentDocStatus"/>
		<typeAlias type="com.lotut.pms.domain.UserAppPerson" alias="UserAppPerson"/>
		<typeAlias alias="PatentDocSearchCondition" type="com.lotut.pms.domain.PatentDocSearchCondition"/>
		<typeAlias type="com.lotut.pms.domain.UserInventor" alias="UserInventor"/>
		<typeAlias type="com.lotut.pms.domain.PatentDocAppPerson" alias="PatentDocAppPerson"/>
		<typeAlias type="com.lotut.pms.domain.PatentDocInventor" alias="PatentDocInventor"/>
		<typeAlias type="com.lotut.pms.domain.AppPersonSearchCondition" alias="AppPersonSearchCondition"/>
		<typeAlias type="com.lotut.pms.domain.InventorSearchCondition" alias="InventorSearchCondition"/>
		<typeAlias alias="PatentDocOrder" type="com.lotut.pms.domain.PatentDocOrder"/>
		<typeAlias alias="PatentDocOrderItem" type="com.lotut.pms.domain.OrderItem"/>
		<typeAlias alias="PatentDocWorkflowHistory" type="com.lotut.pms.domain.PatentDocWorkflowHistory"/>
		<typeAlias alias="PatentDocWorkflowTarget" type="com.lotut.pms.domain.PatentDocWorkflowTarget"/>
		<typeAlias alias="PatentDocAction" type="com.lotut.pms.domain.PatentDocAction"/>
		<typeAlias alias="SharePatentDoc" type="com.lotut.pms.domain.SharePatentDoc"/>
		<typeAlias alias="PatentDocProxyStatus" type="com.lotut.pms.domain.PatentDocProxyStatus"/>
		<typeAlias alias="GroupMembers" type="com.lotut.pms.domain.GroupMembers"/>
		<typeAlias alias="Express" type="com.lotut.pms.domain.Express"/>
		<typeAlias alias="ExpressStatus" type="com.lotut.pms.domain.ExpressStatus"/>
		<typeAlias alias="ExpressSearchCondition" type="com.lotut.pms.domain.ExpressSearchCondition"/>
		<typeAlias alias="News" type="com.lotut.pms.domain.News"/>
		<typeAlias alias="NewsType" type="com.lotut.pms.domain.NewsType"/>
		<typeAlias alias="Article" type="com.lotut.pms.domain.Article"/>
		<typeAlias alias="ArticleType" type="com.lotut.pms.domain.ArticleType"/>
		<typeAlias alias="NewsImg" type="com.lotut.pms.domain.NewsImg"/>
		<typeAlias alias="ArticleImg" type="com.lotut.pms.domain.ArticleImg"/>
		<typeAlias alias="ArticleSearchCondition" type="com.lotut.pms.domain.ArticleSearchCondition"/>
		<typeAlias alias="NewsSearchCondition" type="com.lotut.pms.domain.NewsSearchCondition"/>
		<typeAlias alias="ArticleType" type="com.lotut.pms.domain.ArticleType"/>
		<typeAlias alias="BrandCategory" type="com.lotut.pms.domain.BrandCategory"/>
		<typeAlias alias="Brand" type="com.lotut.pms.domain.Brand"/>
		<typeAlias alias="BrandSearchCondition" type="com.lotut.pms.domain.BrandSearchCondition"/>
		<typeAlias alias="WeChatOrder" type="com.lotut.pms.domain.WeChatOrder"/>
		<typeAlias alias="SalePatentGood" type="com.lotut.pms.domain.SalePatentGood"/>
		<typeAlias alias="BrandLegalStatus" type="com.lotut.pms.domain.BrandLegalStatus"/>
		<typeAlias alias="BrandManagement" type="com.lotut.pms.domain.BrandManagement"/>
		<typeAlias alias="BrandRemark" type="com.lotut.pms.domain.BrandRemark"/>
		<typeAlias alias="BrandNotice" type="com.lotut.pms.domain.BrandNotice"/>
		<typeAlias alias="BrandNoticeType" type="com.lotut.pms.domain.BrandNoticeType"/>
		<typeAlias alias="BrandManagementSearchCondition" type="com.lotut.pms.domain.BrandManagementSearchCondition"/>
		<typeAlias alias="BrandCategoryCount" type="com.lotut.pms.domain.BrandCategoryCount"/>
		<typeAlias alias="BrandLegalStatusCount" type="com.lotut.pms.domain.BrandLegalStatusCount"/>
		<typeAlias alias="BrandNoticeSearchCondition" type="com.lotut.pms.domain.BrandNoticeSearchCondition"/>
	</typeAliases>  
</configuration>