<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xmlns:tx="http://www.springframework.org/schema/tx" 
		xmlns:context="http://www.springframework.org/schema/context" 
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:jee="http://www.springframework.org/schema/jee"  
		xsi:schemaLocation="http://www.springframework.org/schema/beans 
							http://www.springframework.org/schema/beans/spring-beans-4.2.xsd 
							http://www.springframework.org/schema/tx 
							http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
							http://www.springframework.org/schema/aop 
							http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
							http://www.springframework.org/schema/context 
							http://www.springframework.org/schema/context/spring-context-4.2.xsd
							http://www.springframework.org/schema/jee 
							http://www.springframework.org/schema/jee/spring-jee-4.0.xsd">
	
	<jee:jndi-lookup id="dataSource" jndi-name="java:comp/env/jdbc/pmsDataSource" />  
	
	<tx:annotation-driven transaction-manager="transactionManager"/>
	
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:config/mybatis-config.xml" />
		<property name="mapperLocations" value="classpath:mapper/*Mapper.xml" />
	</bean>	
	
	<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="sqlSessionFactory" />
	</bean>	
	
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="userMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.lotut.pms.dao.mapper.UserMapper" />
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate" />
	</bean>
	
	<bean id="patentMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.lotut.pms.dao.mapper.PatentMapper" />
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate" />
	</bean>	
	
	<bean id="feeMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.lotut.pms.dao.mapper.FeeMapper" />
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate" />
	</bean>		
	
	<bean id="friendMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.lotut.pms.dao.mapper.FriendMapper" />
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate" />
	</bean>		
	
	<bean id="noticeMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.lotut.pms.dao.mapper.NoticeMapper" />
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate" />
	</bean>			
	
	<bean id="sharePatentMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.lotut.pms.dao.mapper.SharePatentMapper" />
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate" />
	</bean>		
	
	<bean id="orderMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.lotut.pms.dao.mapper.OrderMapper" />
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate" />
	</bean>	
	<bean id="appPersonMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.lotut.pms.dao.mapper.AppPersonMapper" />
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate" />
	</bean>
	
	<bean id="patentOfficeAccountMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.lotut.pms.dao.mapper.PatentOfficeAccountMapper" />
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate" />
	</bean>			
	
	
	<bean name="patentDocMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.lotut.pms.dao.mapper.PatentDocMapper" />
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate" />
	</bean>	
	
	<bean id="patentDocumentTemplateMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.lotut.pms.dao.mapper.PatentDocumentTemplateMapper"/>
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate" />
	</bean>
	
	<bean id="employeeMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.lotut.pms.dao.mapper.EmployeeMapper"/>
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate" />
	</bean>
	
	<bean id="inventorMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.lotut.pms.dao.mapper.InventorMapper" />
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate" />
	</bean>

	<bean id="petitionMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.lotut.pms.dao.mapper.PetitionMapper"/>
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate"/>
	</bean>


	
	
	

	<bean name="userDao" class="com.lotut.pms.dao.mybatis.UserMybatisDao">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate" />
		<property name="userMapper" ref="userMapper" />
	</bean>		
	
	<bean name="patentDao" class="com.lotut.pms.dao.mybatis.PatentMybatisDao">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate" />
		<property name="patentMapper" ref="patentMapper" />
	</bean>		
	
	<bean name="sharePatentDao" class="com.lotut.pms.dao.mybatis.SharePatentMybatisDao">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate" />
		<property name="sharePatentMapper" ref="sharePatentMapper" />
	</bean>	
	
	<bean name="feeDao" class="com.lotut.pms.dao.mybatis.FeeMybatisDao">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate" />
		<property name="feeMapper" ref="feeMapper" />
	</bean>		
	
	<bean name="friendDao" class="com.lotut.pms.dao.mybatis.FriendMybatisDao">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate" />
		<property name="friendMapper" ref="friendMapper" />
	</bean>				
	
	<bean name="noticeDao" class="com.lotut.pms.dao.mybatis.NoticeMybatisDao">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate" />
		<property name="noticeMapper" ref="noticeMapper" />
	</bean>		
	
	<bean name="databaseAuthDao" class="com.lotut.pms.dao.DatabaseAuthProvider">
		<property name="dataSource" ref="dataSource" />
	</bean>
			
	<bean name="orderDao" class="com.lotut.pms.dao.mybatis.OrderMybatisDao">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate" />
		<property name="orderMapper" ref="orderMapper" />
	</bean>	
	
	<bean name="patentOfficeAccountDao" class="com.lotut.pms.dao.mybatis.PatentOfficeAccountMybatisDao">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate" />
		<property name="patentOfficeAccountMapper" ref="patentOfficeAccountMapper" />
	</bean>	
	
	<bean name="patentDocDao" class="com.lotut.pms.dao.mybatis.PatentDocMybatisDao">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate" />
		<property name="patentDocMapper" ref="patentDocMapper" />
	</bean>	
	
	<bean name="patentDocumentTemplateDao" class="com.lotut.pms.dao.mybatis.PatentDocumentTemplateMybatisDao">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate"/>
		<property name="patentDocumentTemplateMapper" ref="patentDocumentTemplateMapper"/>
	</bean>	

	<bean name="employeeDao" class="com.lotut.pms.dao.mybatis.EmployeeMybatisDao">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate"/>
		<property name="employeeMapper" ref="employeeMapper"/>

	</bean>
	<bean name="appPersonDao" class="com.lotut.pms.dao.mybatis.AppPersonMybatisDao">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate" />
		<property name="appPersonMapper" ref="appPersonMapper" />

	</bean>	
	
	<bean name="inventorDao" class="com.lotut.pms.dao.mybatis.InventorMybatisDao">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate" />
		<property name="inventorMapper" ref="inventorMapper" />
	</bean>
	
	<bean name="petitionDao" class="com.lotut.pms.dao.mybatis.PetitionMybatisDao">
		<property name="sqlSessionTemplate" ref="sqlSessionTemplate"/>
		<property name="petitionMapper" ref="petitionMapper"/>

	</bean>	
	
	
</beans>							