<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
						http://www.springframework.org/schema/security
						http://www.springframework.org/schema/security/spring-security.xsd">

	
	<http pattern="/static/**" security="none" />

	<http use-expressions="false">
		<intercept-url pattern="/loginForm.html" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
		<intercept-url pattern="/user/registerForm.html" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
		<intercept-url pattern="/user/register.html" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
		<intercept-url pattern="/**" access="ROLE_USER"/>
		<form-login login-page="/loginForm.html" default-target-url="/main.html" />
		<logout logout-url="/user/logout.html" />
		
		<csrf disabled="true"/>
	</http>
	
	<beans:bean name="bcryptEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>	
	
	<authentication-manager>
		<authentication-provider user-service-ref="databaseAuthDao">
			<password-encoder ref="bcryptEncoder"/>	
		</authentication-provider>
	</authentication-manager>	
</beans:beans>