<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:mvc="http://www.springframework.org/schema/mvc"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:task="http://www.springframework.org/schema/task"   
    xmlns:context="http://www.springframework.org/schema/context"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans   
						http://www.springframework.org/schema/beans/spring-beans-4.2.xsd   
						http://www.springframework.org/schema/context   
						http://www.springframework.org/schema/context/spring-context-4.2.xsd   
						http://www.springframework.org/schema/mvc   
						http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
						http://www.springframework.org/schema/task  
						http://www.springframework.org/schema/task/spring-task-3.1.xsd "> 

	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">      
		<property name="prefix" value="/WEB-INF/jsp/" />      
		<property name="suffix" value=".jsp" />      
	</bean> 	
	
	<context:component-scan base-package="com.lotut.pms.web" /> 	
	<mvc:annotation-driven />
	<context:annotation-config/>
  	<task:executor id="executor" pool-size="1" />
    <task:scheduler id="scheduler" pool-size="1" />
    <task:annotation-driven executor="executor" scheduler="scheduler" />
     <!-- 图片,css,js等静态资源配置 -->
    <mvc:resources location="/plugins/" mapping="/plugins/**"/>
    <!-- 开启@MatrixVariable注解 -->
    <mvc:annotation-driven enable-matrix-variables="true">
    </mvc:annotation-driven>
<!-- 	<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>   -->
  
	<!--  
	<bean id="stringHttpMessageConverter" class="org.springframework.http.converter.StringHttpMessageConverter">    
	    <property name="supportedMediaTypes">    
	        <list>    
	        	<value>text/plain;charset=UTF-8</value>
	            <value>application/json;charset=UTF-8</value>    
	       </list>    
	    </property>  
	</bean>
	
	
	<bean id="mappingJackson2HttpMessageConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">    
	    <property name="supportedMediaTypes">    
	        <list>    
	            <value>application/json;charset=utf-8</value>    
	       </list>    
	    </property>  
	</bean> 
	
	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">      
        <property name="messageConverters">      
            <list >      
                <ref bean="mappingJackson2HttpMessageConverter" />   
                <ref bean="stringHttpMessageConverter"/>
            </list>      
        </property>      
    </bean>  	
    --> 	
	
	
	<bean id="multipartResolver"  class="org.springframework.web.multipart.support.StandardServletMultipartResolver">  
	</bean>  
	
	<bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">      
      	<property name="providerClass" value="org.hibernate.validator.HibernateValidator"/>      
  	</bean>   	
	
</beans>