<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
						http://www.springframework.org/schema/security
						http://www.springframework.org/schema/security/spring-security.xsd">

	
	<http pattern="/static/**" security="none" />
	<http pattern="/temp/**" security="none" />
	<http pattern="/plugins/**" security="none" />

	<http use-expressions="true">
		<intercept-url pattern="/loginForm.html" access="permitAll"/>
		<intercept-url pattern="/contentImg/**" access="permitAll"/>
		<intercept-url pattern="/smallImg/**" access="permitAll"/>
		<intercept-url pattern="/alipay/notify.html" access="isAnonymous()"/>
		<intercept-url pattern="/unionPay/backRcvResponse.html" access="isAnonymous()"/>
		<intercept-url pattern="/patentDocUnionPay/backRcvResponse.html" access="isAnonymous()"/>
		<intercept-url pattern="/patentDocAlipay/notify.html" access="isAnonymous()"/>
		<intercept-url pattern="/favicon.ico" access="isAnonymous()"/>
		<intercept-url pattern="/user/registerForm.html" access="isAnonymous()"/>
		<intercept-url pattern="/user/user_forget_password.html" access="isAnonymous()"/>
		<intercept-url pattern="/user/user_find_password_form.html" access="isAnonymous()"/>
		<intercept-url pattern="/user/register.html" access="isAnonymous()"/>
		<intercept-url pattern="/**" access="isAuthenticated()"/>
		<form-login login-page="/loginForm.html" default-target-url="/patent/list.html" />
		<logout logout-url="/user/logout.html" />
		
		<csrf disabled="true"/>
	</http>
	
	<beans:bean name="bcryptEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>	
	
	<authentication-manager>
		<authentication-provider user-service-ref="databaseAuthDao">
			<password-encoder ref="bcryptEncoder"/>	
		</authentication-provider>
	</authentication-manager>	
</beans:beans>