<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lotut.pms.dao.mapper.BrandMapper">
	<resultMap type="Brand" id="brandResultMap">
		<id property="id" column="id"/>
		<result property="address" column="address"/>
		<result property="checkStatus" column="check_status"/>
		<result property="sellStatus" column="sell_status"/>
		<result property="isRecommend" column="is_recommend"/>
		<result property="brandNo" column="brand_no"/>
		<result property="name" column="name"/>
		<result property="combinationType" column="combination_type"/>
		<result property="similarNo" column="similar_no"/>
		<result property="transactionMode" column="transaction_mode"/>
		<result property="price" column="price"/>
		<result property="scope" column="scope"/>
		<result property="appPerson" column="app_person"/>
		<result property="appDate" column="app_date"/>
		<result property="publishDate" column="publish_date"/>
		<result property="startDate" column="start_date"/>
		<result property="endDate" column="end_date"/>
		<result property="originality" column="originality"/>
		<result property="caseStatus" column="case_status"/>
		<association property="user" javaType="User">
			<id property="userId" column="user"/>
			<result property="username" column="username"/>
		</association>
		<association property="brandCategory" javaType="BrandCategory">
			<id property="categoryId" column="category_id"/>
			<result property="categoryName" column="category_name"/>
		</association>
	
	</resultMap>
	
	<resultMap type="WeChatOrder" id="wechatOrderResultMap">
		<id property="id" column="id"/>
		<result property="wechatOrderId" column="wechat_order_id"/>
		<result property="wechatName" column="wechat_name"/>
		<result property="totalFee" column="total_fee"/>
		<result property="payTime" column="pay_time"/>
		<association property="brand" javaType="Brand">
			<id property="id" column="id"/>
			<result property="name" column="name"/>
			<result property="brandNo" column="brand_no"/>
		</association>
	</resultMap>

  	<select id="getUserBrandsByPage" parameterType="Page" resultMap="brandResultMap">
  		select b.id,b.user,b.address,b.check_status,b.sell_status,b.is_recommend,b.category_id,b.brand_no,b.name,b.combination_type,
  			   b.similar_no,b.scope,b.transaction_mode,b.price,b.app_person,b.app_date,b.publish_date,b.start_date,b.end_date,
  			   b.originality,b.case_status,bc.category_name,u.username from brands b left join brand_category bc on  b.category_id=bc.category_id 
  			   left join users u on b.user=u.user_id where b.user=#{userId} and b.sell_status=1 limit #{startIndex},#{pageSize}
  	</select>
  	
  	
  	<update id="updateCheckStatus">
  		update brands set check_status=#{status} where id=#{id}
  	</update>

  	<update id="updateRecommend">
  		update brands set  is_recommend=#{status} where id=#{id}
  	</update>
  	
  	<select id="searchUserBrandsByPage" parameterType="BrandSearchCondition" resultMap="brandResultMap">
  		<bind name="keyword_pattern" value="'%' +keyword + '%'"/>
  		select b.id,b.user,b.address,b.check_status,b.sell_status,b.is_recommend,b.category_id,b.brand_no,b.name,b.combination_type,
  			   b.similar_no,b.scope,b.transaction_mode,b.price,b.app_person,b.app_date,b.publish_date,b.start_date,b.end_date,
  			   b.originality,b.case_status,bc.category_name,u.username from brands b left join brand_category bc on  b.category_id=bc.category_id 
  			   left join users u on b.user=u.user_id where b.user=#{userId} and b.sell_status=1
  			   <if test="categoryId!=null">
					and b.category_id=#{categoryId}
  			   </if>
  			   <if test="keyword_pattern!=null">
  			     and (b.name like #{keyword_pattern} or b.brand_no like #{keyword_pattern})
  			   </if>
  			   limit #{page.startIndex},#{page.pageSize}
  	</select>
  	<select id="getUserBrandsCount" parameterType="int" resultType="int">
  		select count(*) from brands where user=#{userId} and sell_status=1
  	</select>
  	
  	<select id="getsearchUserBrandsCount" parameterType="BrandSearchCondition" resultType="int">
  		<bind name="keyword_pattern" value="'%' +keyword + '%'"/>
  		select count(*) from brands where user=#{userId} and sell_status=1
  			   <if test="categoryId!=null">
					and category_id=#{categoryId}
  			   </if>
  			   <if test="keyword_pattern!=null">
  			     and (name like #{keyword_pattern} or brand_no like #{keyword_pattern})
  			   </if>
  	</select>
  	<select id="getAllCategorys" resultType="BrandCategory">
  		select category_id as categoryId,category_name as categoryName from brand_category
  	</select>
  	
  	<update id="deleteBrand" parameterType="int">
  		update brands set sell_status=2 where id=#{brandId}
  	</update>
 
  	<insert id="insertOrUpdateBrand" parameterType="Brand" useGeneratedKeys="true" keyProperty="id">
		insert into brands(address,category_id,brand_no,name,
		combination_type,similar_no,transaction_mode,price,scope,
		app_person,app_date,publish_date,start_date,end_date,originality,case_status,user)
		values(#{address},#{brandCategory.categoryId},#{brandNo},
		 #{name},#{combinationType},#{similarNo},#{transactionMode},#{price},#{scope},#{appPerson},
		 #{appDate,javaType=date,jdbcType=DATE},#{publishDate,javaType=date,jdbcType=DATE},#{startDate,javaType=date,jdbcType=DATE},
		 #{endDate,javaType=date,jdbcType=DATE},#{originality},#{caseStatus},#{user.userId})
		on duplicate key update 
			address=#{address},category_id=#{brandCategory.categoryId},brand_no=#{brandNo},
			name=#{name},combination_type=#{combinationType},
			similar_no=#{similarNo},transaction_mode=#{transactionMode},price=#{price},scope=#{scope},
			app_person=#{appPerson},app_date=#{appDate,javaType=date,jdbcType=DATE},
			publish_date=#{publishDate,javaType=date,jdbcType=DATE},
			start_date=#{startDate,javaType=date,jdbcType=DATE},
		 	end_date=#{endDate,javaType=date,jdbcType=DATE},originality=#{originality},case_status=#{caseStatus},user=#{user.userId}
	</insert>
	<select id="getWeChatUserOrderRecords" parameterType="Page" resultMap="wechatOrderResultMap">
		select wo.id,wo.wechat_order_id,wo.wechat_name,wo.brand_id,wo.total_fee,wo.pay_time,b.name,b.brand_no from wechat_orders wo 
			   left join brands b on wo.brand_id=b.id order by wo.pay_time desc limit #{startIndex},#{pageSize}
	</select>
	
	<select id="getWeChatOrderCount" resultType="int">
		select count(*) from wechat_orders
	</select>
</mapper>
  
