<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lotut.pms.dao.mapper.BrandManagementMapper">
	<resultMap type="BrandManagement" id="brandManagementResultMap">
		<id property="id" column="id"/>
		<result property="appNo" column="app_no"/>
		<result property="brandNo" column="brand_no"/>
		<result property="name" column="name"/>
		<result property="similarNo" column="similar_no"/>
		<result property="transactionMode" column="transaction_mode"/>
		<result property="transactionStatus" column="transaction_status"/>
		<result property="price" column="price"/>
		<result property="scope" column="scope"/>
		<result property="appPerson" column="app_person"/>
		<result property="appDate" column="app_date"/>
		<result property="publishDate" column="publish_date"/>
		<result property="originality" column="originality"/>
		<result property="caseStatus" column="case_status"/>
		<result property="imageUrl" column="image_url"/>
		<result property="proxyFile" column="proxy_file"/>
		<result property="businessLicense" column="business_license"/>
		<result property="entityLicense" column="entity_license"/>
		<result property="individualLicense" column="individual_license"/>
		<result property="identityCard" column="identity_card"/>
		<result property="application" column="application"/>
		<result property="monitorStatus" column="monitor_status"/>
		<!-- <association property="user" javaType="User">
			<id property="userId" column="user_id"/>
			<result property="username" column="username"/>
		</association> -->
		<association property="brandCategory" resultMap="BrandCategoryResultMap"/>
		<association property="brandLegalStatus" resultMap="BrandLegalStatusResultMap"/>
		<collection property="shareUsers" resultMap="com.lotut.pms.dao.mapper.UserMapper.UserResultMap"/>
	</resultMap>
	
		<resultMap type="brandCategory" id="BrandCategoryResultMap">
			<id property="categoryId" column="category_id"/>
			<result property="categoryName" column="category_name"/>
		</resultMap>
		
		<resultMap type="brandLegalStatus" id="BrandLegalStatusResultMap">
			<id property="legalStatusId" column="legal_status_id"/>
			<result property="legalStatusName" column="legal_status_name"/>
		</resultMap>
		
		
		<resultMap type="brandCategoryCount" id="BrandCategoryCountResultMap">
			<result property="categoryId" column="category_id"/>
			<result property="categoryName" column="category_name"/>
			<result property="brandCount" column="brandCount"/>
		</resultMap>
		
		<resultMap type="brandLegalStatusCount" id="BrandLegalStatusCountResultMap">
			<result property="legalStatusId" column="legal_status_id"/>
			<result property="legalStatusName" column="legal_status_name"/>
			<result property="brandCount" column="brandCount"/>
		</resultMap>
	
	<resultMap type="BrandRemark" id="BrandRemarkResultMap">
		<id property="remarkId" column="remark_id"/>
		<result property="brandId" column="brand_id"/>
		<result property="content" column="content"/>
		<result property="remarkTime" column="remark_time"/>
		<association property="user" javaType="User">
			<id property="userId" column="user_id"/>
			<id property="username" column="username"/>
		</association>
	</resultMap>
	
	<insert id="insertOrUpdateBrand" parameterType="BrandManagement" useGeneratedKeys="true" keyProperty="id">
		insert into brand_management(id,legal_status,category_id,app_no,brand_no,name,
		transaction_status,similar_no,transaction_mode,price,scope,
		app_person,app_date,publish_date,originality,case_status,user,image_url,proxy_file,business_license,
		entity_license,individual_license,identity_card,application)
		values(#{id},#{brandLegalStatus.legalStatusId},#{brandCategory.categoryId},#{appNo},#{brandNo},
		 #{name},#{transactionStatus},#{similarNo},#{transactionMode},#{price},#{scope},#{appPerson},
		 #{appDate,javaType=date,jdbcType=DATE},#{publishDate,javaType=date,jdbcType=DATE},#{originality},#{caseStatus},#{user.userId},
		 #{imageUrl},#{proxyFile},#{businessLicense},#{entityLicense},#{individualLicense},#{identityCard},#{application})
		 on duplicate key update id=#{id}, 
			legal_status=#{brandLegalStatus.legalStatusId},category_id=#{brandCategory.categoryId},
			name=#{name},transaction_status=#{transactionStatus},app_no=#{appNo},brand_no=#{brandNo},
			similar_no=#{similarNo},transaction_mode=#{transactionMode},price=#{price},scope=#{scope},
			app_person=#{appPerson},app_date=#{appDate,javaType=date,jdbcType=DATE},
			publish_date=#{publishDate,javaType=date,jdbcType=DATE},
			originality=#{originality},case_status=#{caseStatus},
		 	user=#{user.userId},image_url=#{imageUrl},proxy_file=#{proxyFile},business_license=#{businessLicense},
		 	entity_license=#{entityLicense},individual_license=#{individualLicense},identity_card=#{identityCard},
		 	application=#{application}
	</insert>	 	
	
	<resultMap type="BrandNoticeType" id="BrandNoticeTypeResultMap">
		<id property="noticeTypeId" column="notice_type_id"/>
		<result property="noticeTypeDescription" column="notice_type_desc"/>
	</resultMap>
	
	<insert id="insertUserBrand" >
		replace into user_brand_management(user,brand) values (#{userId},#{brandId})
	</insert>
	
	<select id="getUserBrandManagementByPage" parameterType="Page" resultMap="brandManagementResultMap">
  		SELECT rs.*,u.user_id,u.username FROM (
		SELECT b.id,b.user,b.app_no,b.brand_no,
			b.name,b.transaction_status,b.transaction_mode,b.price,b.app_person,
			b.app_date,b.publish_date,b.image_url,b.proxy_file,b.business_license,
			b.entity_license,b.individual_license,b.identity_card,b.application,
			bc.category_id,bc.category_name,bls.legal_status_id,bls.legal_status_name,
			ubm.monitor_status
		FROM brand_management b
		LEFT JOIN brand_category bc ON  b.category_id=bc.category_id 
		LEFT JOIN users u ON b.user=u.user_id
		LEFT JOIN brand_legal_status bls ON b.legal_status=bls.legal_status_id
		left join user_brand_management ubm on b.id=ubm.brand
		where ubm.trash_status=1 and ubm.user=#{userId}
		LIMIT #{startIndex},#{pageSize}
		) rs
		LEFT JOIN user_brand_management ubm ON ubm.brand=rs.id
		LEFT JOIN users u ON u.user_id=ubm.user
  	</select>
  	
	<select id="getUserBrandManagementCount" parameterType="int" resultType="int">
  		select count(*) from brand_management b 
  		where b.id in (select brand from user_brand_management where user =#{userId} and trash_status=1) 
  	</select>
  	
  	<insert id="insertUserBrandManagements" parameterType="list">
		replace into user_brand_management(user, brand) 
		values
		<foreach item="userBrandManagementRecord" collection="list" separator=",">
			(#{userBrandManagementRecord.user}, #{userBrandManagementRecord.brand})
		</foreach>
	</insert>
	

	<insert id="saveBrandRemark" parameterType="BrandRemark">
		insert into brand_remark(user,brand_id,content) values(#{user.userId},#{brandId},#{content})
	</insert>
	
	<select id="getBrandRemark" parameterType="int" resultMap="BrandRemarkResultMap">
		select br.remark_id,br.brand_id,br.content,br.remark_time,u.user_id,u.username from brand_remark br left join users u on br.user=u.user_id where br.brand_id=#{brandId}
	</select>

	<select id="getAllBrandCategory"  resultMap="BrandCategoryResultMap">
		select category_id,category_name from brand_category order by category_id asc;
	</select>
	
	<select id="getAllBrandLegalStatus"  resultMap="BrandLegalStatusResultMap">
		select legal_status_id,legal_status_name from brand_legal_status order by legal_status_id asc;
	</select>
	
	<select id="searchUserBrandManagementByPage" parameterType="BrandManagementSearchCondition" resultMap="brandManagementResultMap">
  		<if test="keyword != null">
			<bind name="keyword_pattern" value="'%' + keyword + '%'" />
		</if>
			 SELECT rs.*,u.user_id,u.username FROM (
				SELECT b.id,b.user,b.app_no,b.brand_no,
				b.name,b.transaction_status,b.transaction_mode,b.price,b.app_person,
				b.app_date,b.publish_date,b.image_url,b.proxy_file,b.business_license,
				b.entity_license,b.individual_license,b.identity_card,b.application,
				bc.category_id,bc.category_name,bls.legal_status_id,bls.legal_status_name,
				ubm.monitor_status
				FROM brand_management b
				LEFT JOIN brand_category bc ON  b.category_id=bc.category_id 
				LEFT JOIN users u ON b.user=u.user_id
				LEFT JOIN brand_legal_status bls ON b.legal_status=bls.legal_status_id
				LEFT JOIN user_brand_management ubm ON ubm.brand=b.id
				WHERE  ubm.user =#{page.userId} and ubm.trash_status=1
				<if test="brandCategory != null">
				AND b.category_id = #{brandCategory}
				</if>
				<if test="brandLegalStatus != null">
				AND b.legal_status = #{brandLegalStatus}
				</if>
				<if test="transactionStatus != null">
				AND b.transaction_status = #{transactionStatus}
				</if>
				<if test="appDate != null">
				<![CDATA[ AND b.app_date = #{appDate} ]]>
				</if>
				<if test="keyword != null">
				AND (b.app_no LIKE #{keyword_pattern} or b.brand_no like #{keyword_pattern}
				OR b.name LIKE #{keyword_pattern} or b.similar_no like #{keyword_pattern} or b.app_person like #{keyword_pattern}
				OR b.scope LIKE #{keyword_pattern})
				</if>
				LIMIT #{page.startIndex}, #{page.pageSize}
			) rs
			LEFT JOIN user_brand_management ubm ON ubm.brand=rs.id
			LEFT JOIN users u ON u.user_id=ubm.user
  	</select>
	
	<select id="searchUserBrandManagementByCount"  parameterType="BrandManagementSearchCondition" resultType="int">
  		<if test="keyword != null">
			<bind name="keyword_pattern" value="'%' + keyword + '%'" />
		</if>
			 SELECT count(*) 
			FROM brand_management b
			LEFT JOIN brand_category bc ON  b.category_id=bc.category_id 
			LEFT JOIN users u ON b.user=u.user_id
			LEFT JOIN brand_legal_status bls ON b.legal_status=bls.legal_status_id
			LEFT JOIN user_brand_management ubm ON ubm.brand=b.id
			WHERE ubm.user =#{page.userId} and ubm.trash_status=1
			<if test="brandCategory != null">
			AND b.category_id = #{brandCategory}
			</if>
			<if test="brandLegalStatus != null">
			AND b.legal_status = #{brandLegalStatus}
			</if>
			<if test="transactionStatus != null">
			AND b.transaction_status = #{transactionStatus}
			</if>
			<if test="appDate != null">
			<![CDATA[ AND b.app_date = #{appDate} ]]>
			</if>
			<if test="keyword != null">
			AND (b.app_no LIKE #{keyword_pattern} or b.brand_no like #{keyword_pattern}
			OR b.name LIKE #{keyword_pattern} or b.similar_no like #{keyword_pattern} or b.app_person like #{keyword_pattern}
			OR b.scope LIKE #{keyword_pattern})
			</if>
			
  	</select>
	
	
	<select id="getLegalStatusCount" resultMap="BrandLegalStatusCountResultMap">
		SELECT bls.legal_status_id,bls.legal_status_name,count(*) brandCount
		FROM brand_management b
		LEFT JOIN users u ON b.user=u.user_id
		LEFT JOIN brand_legal_status bls ON b.legal_status=bls.legal_status_id
		WHERE b.id IN (SELECT brand FROM user_brand_management  WHERE USER =#{userId} and trash_status=1)
		GROUP BY bls.legal_status_name
		order by bls.legal_status_id asc;
	</select>
	
	
	<select id="getBrandCategoryCount" resultMap="BrandCategoryCountResultMap">
		SELECT bc.category_id,bc.category_name,count(*) brandCount
		FROM brand_management b
		LEFT JOIN brand_category bc ON  b.category_id=bc.category_id 
		LEFT JOIN users u ON b.user=u.user_id
		WHERE b.id IN (SELECT brand FROM user_brand_management  WHERE USER =#{userId} and trash_status=1)
		GROUP BY bc.category_name
		order by bc.category_id asc;
	</select>
	

		<update id="brandsTrash"  >
		update user_brand_management ubm set ubm.trash_status=2
		 where ubm.user=#{userId} and ubm.brand in 
			<foreach item="id" collection="brands"
			     open="(" separator="," close=")">
			   #{id}
			</foreach>		 
	</update>

	<select id="showBrandManagementDetail" parameterType="int" resultMap="brandManagementResultMap">
		SELECT rs.*, u.user_id,u.username from (SELECT b.id,b.user,b.app_no,b.brand_no,b.similar_no,b.scope,
			b.name,b.transaction_status,b.transaction_mode,b.price,b.app_person,
			b.app_date,b.publish_date,b.image_url,b.proxy_file,b.business_license,
			b.entity_license,b.individual_license,b.identity_card,b.application,
			bc.category_id,bc.category_name,bls.legal_status_id,bls.legal_status_name
		FROM brand_management b
		LEFT JOIN brand_category bc ON  b.category_id=bc.category_id 
		LEFT JOIN users u ON b.user=u.user_id
		LEFT JOIN brand_legal_status bls ON b.legal_status=bls.legal_status_id
		where b.id=#{brandId}) rs 
		LEFT JOIN user_brand_management ubm ON ubm.brand=rs.id
		LEFT JOIN users u ON u.user_id=ubm.user
	</select>
		
	<select id="getAllBrandNoticeTypes"  resultMap="BrandNoticeTypeResultMap">
		select notice_type_id,notice_type_desc from brand_notice_types order by notice_type_id asc
	</select>
	
	<delete id="deleteShareUser">
		delete from user_brand_management where brand = #{brandId} and user=#{shareUserId}	   
	</delete>


	<select id="getUserExcelDate" resultMap="brandManagementResultMap">
		 select bm.id,bm.app_no,bm.brand_no,bm.name,bm.similar_no,bm.scope,bm.transaction_status,bm.transaction_mode,bm.price,bm.app_person,bm.app_date,bm.publish_date, 
		         u.user_id,u.username,bc.category_id,bc.category_name,bls.legal_status_id,bls.legal_status_name from brand_management bm 
		         left join user_brand_management ubm on bm.id=ubm.brand 
			     left join users u on ubm.user=u.user_id 
		         left join brand_category bc on bm.category_id=bc.category_id 
		         left join brand_legal_status bls on bm.legal_status=bls.legal_status_id
		         where ubm.trash_status=1 and ubm.brand in 
		         <foreach collection="brandIds" item="brandId" open="(" close=")" separator=",">
		         	#{brandId}
		         </foreach>
	</select>
	
		<select id="getBrandsRecycled" parameterType="Page" resultMap="brandManagementResultMap">
		
		SELECT rs.*,u.user_id,u.username FROM (
		SELECT b.id,b.user,b.app_no,b.brand_no,
			b.name,b.transaction_status,b.transaction_mode,b.price,b.app_person,
			b.app_date,b.publish_date,b.image_url,b.proxy_file,b.business_license,
			b.entity_license,b.individual_license,b.identity_card,b.application,
			bc.category_id,bc.category_name,bls.legal_status_id,bls.legal_status_name
		
		FROM brand_management b
		LEFT JOIN brand_category bc ON  b.category_id=bc.category_id 
		LEFT JOIN users u ON b.user=u.user_id
		LEFT JOIN brand_legal_status bls ON b.legal_status=bls.legal_status_id
		WHERE b.id IN (SELECT brand FROM user_brand_management  WHERE USER =#{userId} and trash_status=2) 
		ORDER BY b.app_date DESC, b.app_person, b.name
		LIMIT #{startIndex},#{pageSize}
		) rs
		LEFT JOIN user_brand_management ubm ON ubm.brand=rs.id
		LEFT JOIN users u ON u.user_id=ubm.user
		ORDER BY rs.app_date DESC, rs.app_person, rs.name
	</select>
	
	<select id="getBrandsRecycledCount" resultType="int">
		select count(*) from brand_management b 
  		where b.id in (select brand from user_brand_management where user =#{userId} and trash_status=2)
	</select>
	
	<update id="recoverBrands"  >
		update user_brand_management ubm set ubm.trash_status=1
		 where ubm.user=#{userId} and ubm.brand in 
			<foreach item="id" collection="brands"
			     open="(" separator="," close=")">
			   #{id}
			</foreach>		 
	</update>
	
	<delete id="deleteForeverBrands">
		delete from user_brand_management   
		where user = #{userId} and brand in 
			<foreach item="id" collection="brands"
			     open="(" separator="," close=")">
			   #{id}
			</foreach>		 
	</delete>
	
	
	<select id="SearchBrandsRecycled" parameterType="BrandManagementSearchCondition" resultMap="brandManagementResultMap">
		<if test="keyword != null">
			<bind name="keyword_pattern" value="'%' + keyword + '%'" />
		</if>
		SELECT rs.*,u.user_id,u.username FROM (
		SELECT b.id,b.user,b.app_no,b.brand_no,
			b.name,b.transaction_status,b.transaction_mode,b.price,b.app_person,
			b.app_date,b.publish_date,b.image_url,b.proxy_file,b.business_license,
			b.entity_license,b.individual_license,b.identity_card,b.application,
			bc.category_id,bc.category_name,bls.legal_status_id,bls.legal_status_name
		
		FROM brand_management b
		LEFT JOIN brand_category bc ON  b.category_id=bc.category_id 
		LEFT JOIN users u ON b.user=u.user_id
		LEFT JOIN brand_legal_status bls ON b.legal_status=bls.legal_status_id
		WHERE b.id IN (SELECT brand FROM user_brand_management  WHERE USER =#{userId} and trash_status=2)
		<if test="keyword != null and keyword !=''">
		AND (b.app_no LIKE #{keyword_pattern} or b.name like #{keyword_pattern} 
			 OR b.app_person LIKE #{keyword_pattern} or b.brand_no LIKE #{keyword_pattern}
			 OR bls.legal_status_name LIKE #{keyword_pattern} or bc.category_name like #{keyword_pattern})
		</if>
		 ORDER BY b.app_date DESC, b.app_person, b.name
		 LIMIT #{page.startIndex}, #{page.pageSize}) as rs 
		
		  JOIN user_brand_management ubm ON rs.id = ubm.brand
		    JOIN users u ON u.user_id = ubm.user	
		 ORDER BY rs.app_date DESC, rs.app_person, rs.name
	</select>
	
<select id="SearchBrandsRecycledCount"  parameterType="BrandManagementSearchCondition" resultType="int">
  		<if test="keyword != null">
			<bind name="keyword_pattern" value="'%' + keyword + '%'" />
		</if>
			 SELECT count(*) FROM (
			SELECT b.id,b.user,b.app_no,b.brand_no,
			b.name,b.transaction_status,b.transaction_mode,b.price,b.app_person,
			b.app_date,b.publish_date,b.image_url,b.proxy_file,b.business_license,
			b.entity_license,b.individual_license,b.identity_card,b.application,
			bc.category_id,bc.category_name,bls.legal_status_id,bls.legal_status_name
			
			FROM brand_management b
			LEFT JOIN brand_category bc ON  b.category_id=bc.category_id 
			LEFT JOIN users u ON b.user=u.user_id
			LEFT JOIN brand_legal_status bls ON b.legal_status=bls.legal_status_id
			LEFT JOIN user_brand_management ubm ON ubm.brand=b.id
			WHERE ubm.user =#{page.userId} and ubm.trash_status=1
			<if test="brandCategory != null">
			AND b.category_id = #{brandCategory}
			</if>
			<if test="brandLegalStatus != null">
			AND b.legal_status = #{brandLegalStatus}
			</if>
			<if test="transactionStatus != null">
			AND b.transaction_status = #{transactionStatus}
			</if>
			<if test="appDate != null">
			<![CDATA[ AND b.app_date = #{appDate} ]]>
			</if>
			<if test="keyword != null">
			AND (b.app_no LIKE #{keyword_pattern} or b.brand_no like #{keyword_pattern}
			OR b.name LIKE #{keyword_pattern} or b.similar_no like #{keyword_pattern} or b.app_person like #{keyword_pattern}
			OR b.scope LIKE #{keyword_pattern})
			</if>
			) rs
			LEFT JOIN user_brand_management ubm ON ubm.brand=rs.id
			LEFT JOIN users u ON u.user_id=ubm.user
  	</select>
  	
  	<update id="changeBrandMonitorStatus" >
  		update user_brand_management set monitor_status=1 where user=#{userId} and brand in
  		<foreach collection="brandIds" item="brandId" open="(" close=")" separator=",">
  			#{brandId}
  		</foreach>
  	</update>
  	
  	<update id="cancelBrandMonitorStatus" >
  		update user_brand_management set monitor_status=0 where user=#{userId} and brand in
  		<foreach collection="brandIds" item="brandId" open="(" close=")" separator=",">
  			#{brandId}
  		</foreach>
  	</update>
  	
  	<select id="getUserMonitorBrand" parameterType="Page" resultMap="brandManagementResultMap">
  		select ub.id,ub.app_no,ub.brand_no,ub.name,ub.similar_no,ub.scope,ub.transaction_status,ub.transaction_mode,ub.price,ub.app_person,
			 ub.app_date,ub.publish_date,ub.create_time,ub.monitor_status, 
			 bc.category_id,bc.category_name,bls.legal_status_id,bls.legal_status_name,u.user_id,u.username 
			 from (select b.id,b.legal_status,b.category_id,b.app_no,b.brand_no,b.name,b.similar_no,b.scope,b.transaction_status,b.transaction_mode,b.price,
						b.app_person,b.app_date,b.publish_date,b.create_time,u.monitor_status 
			         from brand_management b left join user_brand_management u on b.id=u.brand 
			 where u.user=#{userId} and u.trash_status=1 and u.monitor_status=1 
			 limit #{startIndex},#{pageSize} 
			 ) ub left join user_brand_management ubm on ub.id=ubm.brand 
			 left join brand_category bc on ub.category_id=bc.category_id 
			 left join brand_legal_status bls on ub.legal_status=bls.legal_status_id 
			 left join users u on ubm.user=u.user_id
  	</select>
  	
  	
  	<select id="getUserMonitorBrandCount" parameterType="int" resultType="int">
  		select count(*) from brand_management b left join user_brand_management u on b.id=u.brand where u.user=#{userId} and u.trash_status=1 and u.monitor_status=1 
  	</select>
  	
  	<select id="searchUserMonitorBrand" parameterType="BrandManagementSearchCondition" resultMap="brandManagementResultMap">
  	<bind name="keyword_pattern" value="'%' + keyword + '%'"/>
  		select ub.id,ub.app_no,ub.brand_no,ub.name,ub.similar_no,ub.scope,ub.transaction_status,ub.transaction_mode,ub.price,ub.app_person,
			 ub.app_date,ub.publish_date,ub.create_time,ub.monitor_status, 
			 bc.category_id,bc.category_name,bls.legal_status_id,bls.legal_status_name,u.user_id,u.username 
			 from (select b.id,b.legal_status,b.category_id,b.app_no,b.brand_no,b.name,b.similar_no,b.scope,b.transaction_status,b.transaction_mode,b.price,
						b.app_person,b.app_date,b.publish_date,b.create_time,u.monitor_status 
			         from brand_management b left join user_brand_management u on b.id=u.brand 
			 where u.user=#{userId} and u.trash_status=1 and u.monitor_status=1 
			 
			 <if test="keyword_pattern !=null or keyword_pattern !=''" >
			 	and (b.app_no like #{keyword_pattern} or b.brand_no like #{keyword_pattern} or b.name like #{keyword_pattern})
			 </if>
			 limit #{page.startIndex},#{page.pageSize} 
			 ) ub left join user_brand_management ubm on ub.id=ubm.brand 
			 left join brand_category bc on ub.category_id=bc.category_id 
			 left join brand_legal_status bls on ub.legal_status=bls.legal_status_id 
			 left join users u on ubm.user=u.user_id
  	</select>
  	
  	<select id="searchUserMonitorBrandCount" parameterType="BrandManagementSearchCondition" resultType="int">
  	<bind name="keyword_pattern" value="'%' + keyword + '%'"/>
			 select count(*) from brand_management b left join user_brand_management u on b.id=u.brand 
			 where u.user=#{userId} and u.trash_status=1 and u.monitor_status=1 
			 <if test="keyword_pattern !=null or keyword_pattern !=''" >
			 	and (b.app_no like #{keyword_pattern} or b.brand_no like #{keyword_pattern} or b.name like #{keyword_pattern})
			 </if>
  	</select>
  	
  	<update id="changeBrandTransactionStatus"  parameterType="int">
  		update brand_management set transaction_status=1 where id=#{brandId}
  	</update>
  	
  	<update id="changeBrandTransactionStatusTo0"  parameterType="string">
  		update brand_management set transaction_status=0 where name=#{name}
  	</update>
</mapper>
  
