<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lotut.pms.dao.mapper.BrandManagementMapper">
	<resultMap type="BrandManagement" id="brandManagementResultMap">
		<id property="id" column="id"/>
		<result property="appNo" column="app_no"/>
		<result property="brandNo" column="brand_no"/>
		<result property="name" column="name"/>
		<result property="similarNo" column="similar_no"/>
		<result property="transactionMode" column="transaction_mode"/>
		<result property="transactionStatus" column="transaction_status"/>
		<result property="price" column="price"/>
		<result property="scope" column="scope"/>
		<result property="appPerson" column="app_person"/>
		<result property="appDate" column="app_date"/>
		<result property="publishDate" column="publish_date"/>
		<result property="originality" column="originality"/>
		<result property="caseStatus" column="case_status"/>
		<result property="imageUrl" column="image_url"/>
		<result property="proxyFile" column="proxy_file"/>
		<result property="businessLicense" column="business_license"/>
		<result property="entityLicense" column="entity_license"/>
		<result property="individualLicense" column="individual_license"/>
		<result property="identityCard" column="identity_card"/>
		<result property="application" column="application"/>
		<association property="user" javaType="User">
			<id property="userId" column="user_id"/>
			<result property="username" column="username"/>
		</association>
		<association property="brandCategory" resultMap="BrandCategoryResultMap"/>
		<association property="brandLegalStatus" resultMap="BrandLegalStatusResultMap"/>
		<collection property="shareUsers" resultMap="com.lotut.pms.dao.mapper.UserMapper.UserResultMap"/>
	</resultMap>
	
		<resultMap type="brandCategory" id="BrandCategoryResultMap">
			<id property="categoryId" column="category_id"/>
			<result property="categoryName" column="category_name"/>
		</resultMap>
		<resultMap type="brandLegalStatus" id="BrandLegalStatusResultMap">
			<id property="legalStatusId" column="legal_status_id"/>
			<result property="legalStatusName" column="legal_status_name"/>
		</resultMap>

  	<insert id="addOrEditBrand" parameterType="Brand" useGeneratedKeys="true" keyProperty="id">
		insert into brands(address,category_id,brand_no,name,
		combination_type,similar_no,transaction_mode,price,scope,
		app_person,app_date,publish_date,start_date,end_date,originality,case_status,user,check_status,image_url)
		values(#{address},#{brandCategory.categoryId},#{brandNo},
		 #{name},#{combinationType},#{similarNo},#{transactionMode},#{price},#{scope},#{appPerson},
		 #{appDate,javaType=date,jdbcType=DATE},#{publishDate,javaType=date,jdbcType=DATE},#{startDate,javaType=date,jdbcType=DATE},
		 #{endDate,javaType=date,jdbcType=DATE},#{originality},#{caseStatus},#{user.userId},3,#{imageUrl})
		on duplicate key update 
			address=#{address},category_id=#{brandCategory.categoryId},
			name=#{name},combination_type=#{combinationType},
			similar_no=#{similarNo},transaction_mode=#{transactionMode},price=#{price},scope=#{scope},
			app_person=#{appPerson},app_date=#{appDate,javaType=date,jdbcType=DATE},
			publish_date=#{publishDate,javaType=date,jdbcType=DATE},
			start_date=#{startDate,javaType=date,jdbcType=DATE},
		 	end_date=#{endDate,javaType=date,jdbcType=DATE},originality=#{originality},case_status=#{caseStatus},
		 	user=#{user.userId},image_url=#{imageUrl},check_status=3
	</insert> 
 
  	<insert id="insertOrUpdateBrand" parameterType="Brand" useGeneratedKeys="true" keyProperty="id">
		insert into brands(address,category_id,brand_no,name,
		combination_type,similar_no,transaction_mode,price,scope,
		app_person,app_date,publish_date,start_date,end_date,originality,case_status,user,check_status,image_url,sell_status)
		values(#{address},#{brandCategory.categoryId},#{brandNo},
		 #{name},#{combinationType},#{similarNo},#{transactionMode},#{price},#{scope},#{appPerson},
		 #{appDate,javaType=date,jdbcType=DATE},#{publishDate,javaType=date,jdbcType=DATE},#{startDate,javaType=date,jdbcType=DATE},
		 #{endDate,javaType=date,jdbcType=DATE},#{originality},#{caseStatus},#{user.userId},1,#{imageUrl},1)
		on duplicate key update 
			address=#{address},category_id=#{brandCategory.categoryId},
			name=#{name},combination_type=#{combinationType},
			similar_no=#{similarNo},transaction_mode=#{transactionMode},price=#{price},scope=#{scope},
			app_person=#{appPerson},app_date=#{appDate,javaType=date,jdbcType=DATE},
			publish_date=#{publishDate,javaType=date,jdbcType=DATE},
			start_date=#{startDate,javaType=date,jdbcType=DATE},
		 	end_date=#{endDate,javaType=date,jdbcType=DATE},originality=#{originality},case_status=#{caseStatus},
		 	user=#{user.userId},image_url=#{imageUrl},check_status=1,sell_status=1
	</insert>
	
	<select id="getUserBrandManagementByPage" parameterType="Page" resultMap="brandManagementResultMap">
  		SELECT rs.*,u.user_id,u.username FROM (
		SELECT b.id,b.user,b.app_no,b.brand_no,
			b.name,b.transaction_status,b.transaction_mode,b.price,b.app_person,
			b.app_date,b.publish_date,b.image_url,b.proxy_file,b.business_license,
			b.entity_license,b.individual_license,b.identity_card,b.application,
			bc.category_id,bc.category_name,bls.legal_status_id,bls.legal_status_name
		
		FROM brand_management b
		LEFT JOIN brand_category bc ON  b.category_id=bc.category_id 
		LEFT JOIN users u ON b.user=u.user_id
		LEFT JOIN brand_legal_status bls ON b.legal_status=bls.legal_status_id
		WHERE b.id IN (SELECT brand FROM user_brand_management  WHERE USER =#{userId} and trash_status=1) 
		LIMIT #{startIndex},#{pageSize}
		) rs
		LEFT JOIN user_brand_management ubm ON ubm.brand=rs.id
		LEFT JOIN users u ON u.user_id=ubm.user
  	</select>
  	
	<select id="getUserBrandManagementCount" parameterType="int" resultType="int">
  		select count(*) from brand_management b 
  		where b.id in (select brand from user_brand_management where user =#{userId} and trash_status=1) 
  	</select>
  	
  	<insert id="insertUserBrandManagements" parameterType="list">
		replace into user_brand_management(user, brand) 
		values
		<foreach item="userBrandManagementRecord" collection="list" separator=",">
			(#{userBrandManagementRecord.user}, #{userBrandManagementRecord.brand})
		</foreach>
	</insert>
	
	<select id="getAllBrandCategory"  resultMap="BrandCategoryResultMap">
		select category_id,category_name from brand_category order by category_id asc;
	</select>
	
	<select id="getAllBrandLegalStatus"  resultMap="BrandLegalStatusResultMap">
		select legal_status_id,legal_status_name from brand_legal_status order by legal_status_id asc;
	</select>
	
	<select id="searchUserBrandManagementByPage" parameterType="BrandManagementSearchCondition" resultMap="brandManagementResultMap">
  		<if test="keyword != null">
			<bind name="keyword_pattern" value="'%' + keyword + '%'" />
		</if>
  		SELECT rs.*,u.user_id,u.username FROM (
		SELECT b.id,b.user,b.app_no,b.brand_no,
			b.name,b.transaction_status,b.transaction_mode,b.price,b.app_person,
			b.app_date,b.publish_date,b.image_url,b.proxy_file,b.business_license,
			b.entity_license,b.individual_license,b.identity_card,b.application,
			bc.category_id,bc.category_name,bls.legal_status_id,bls.legal_status_name
		
		FROM brand_management b
		LEFT JOIN brand_category bc ON  b.category_id=bc.category_id 
		LEFT JOIN users u ON b.user=u.user_id
		LEFT JOIN brand_legal_status bls ON b.legal_status=bls.legal_status_id
		WHERE b.id IN (SELECT brand FROM user_brand_management  WHERE USER =#{userId} and trash_status=1)
		<if test="brandCategory != null">
			and b.category_id = #{brandCategory}
		</if>
		<if test="brandLegalStatus != null">
			and b.legal_status = #{brandLegalStatus}
		</if>
		<if test="transactionStatus != null">
			and b.transaction_status = #{transactionStatus}
		</if>
		<if test="appDate != null">
			<![CDATA[ and b.app_date = #{app_date} ]]>
		</if>
		<if test="keyword != null">
			and (b.app_no like #{keyword_pattern} or b.brand_no like #{keyword_pattern}
			 	 or b.name like #{keyword_pattern} or b.similar_no like #{keyword_pattern} or b.app_person like #{keyword_pattern}
			 	 or b.scope like #{keyword_pattern})
		</if>
		limit #{page.startIndex}, #{page.pageSize}
		) rs
		LEFT JOIN user_brand_management ubm ON ubm.brand=rs.id
		LEFT JOIN users u ON u.user_id=ubm.user
  	</select>
	
	<select id="searchUserBrandManagementByCount" parameterType="BrandManagementSearchCondition" resultMap="int">
  		<if test="keyword != null">
			<bind name="keyword_pattern" value="'%' + keyword + '%'" />
		</if>
  		SELECT count(*) FROM (
		SELECT b.id
		FROM brand_management b
		LEFT JOIN brand_category bc ON  b.category_id=bc.category_id 
		LEFT JOIN users u ON b.user=u.user_id
		LEFT JOIN brand_legal_status bls ON b.legal_status=bls.legal_status_id
		WHERE b.id IN (SELECT brand FROM user_brand_management  WHERE USER =#{userId} and trash_status=1)
		<if test="brandCategory != null">
			and b.category_id = #{brandCategory}
		</if>
		<if test="brandLegalStatus != null">
			and b.legal_status = #{brandLegalStatus}
		</if>
		<if test="transactionStatus != null">
			and b.transaction_status = #{transactionStatus}
		</if>
		<if test="appDate != null">
			<![CDATA[ and b.app_date = #{app_date} ]]>
		</if>
		<if test="keyword != null">
			and (b.app_no like #{keyword_pattern} or b.brand_no like #{keyword_pattern}
			 	 or b.name like #{keyword_pattern} or b.similar_no like #{keyword_pattern} or b.app_person like #{keyword_pattern}
			 	 or b.scope like #{keyword_pattern})
		</if>
		limit #{page.startIndex}, #{page.pageSize}
		) rs
		LEFT JOIN user_brand_management ubm ON ubm.brand=rs.id
		LEFT JOIN users u ON u.user_id=ubm.user
  	</select>
	
</mapper>
  
