<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper  namespace="com.lotut.pms.dao.mapper.TextEditorMapper">
	<insert id="saveEditorText" parameterType="Editor">
		insert into editor(editor_content) values(#{editorContent,javaType=string,jdbcType=CLOB});
	</insert>
	
	
	<resultMap type="Editor" id="EditorMap">
		<id column="editor_id" property="editorId"/>
		<result column="editor_content" property="editorContent" javaType="string" jdbcType="CLOB"/>
	</resultMap>
	<select id="findTextId" resultType="integer">
		select editor_id from editor
	</select>
	<select id="findTextById" parameterType="int" resultMap="EditorMap">
		select editor_id,editor_content from editor where editor_id = #{editorId}
	</select>
	
	
</mapper>