<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lotut.pms.dao.mapper.EmployeeMapper">
	<resultMap type="CustomerSupport" id="customerSupportResultMap">
		<id property="id" column="id"/>
		<result property="userId" column="user_id"/>
		<result property="proxyOrgId" column="proxy_org_id"/>
		<result property="remarkName" column="remark_name"/>
		<association property="user"  javaType="User">
			<id property="userId" column="user_id"/>
			<result property="username" column="username"/>
			<result property="name" column="name"/>
		</association>
	</resultMap>
	
	<resultMap type="TechPerson" id="techPersonResultMap">
		<id property="id" column="id"/>
		<result property="userId" column="user_id"/>
		<result property="proxyOrgId" column="proxy_org_id"/>
		<result property="remarkName" column="remark_name"/>
		<association property="user"  javaType="User">
			<id property="userId" column="user_id"/>
			<result property="username" column="username"/>
			<result property="name" column="name"/>
		</association>
	</resultMap>
	
	<resultMap type="ProcessPerson" id="processPersonResultMap">
		<id property="id" column="id"/>
		<result property="userId" column="user_id"/>
		<result property="proxyOrgId" column="proxy_org_id"/>
		<result property="remarkName" column="remark_name"/>
		<association property="user"  javaType="User">
			<id property="userId" column="user_id"/>
			<result property="username" column="username"/>
			<result property="name" column="name"/>
		</association>
	</resultMap>
	
	<resultMap type="ProxyOrg" id="proxyOrgResultMap">
		<id property="orgId" column="org_id"/>
		<result property="orgUserId" column="org_user_id"/>
		<result property="parentOrgId" column="parent_org_id"/>
		<result property="remarkName" column="remark_name"/>
		<association property="user"  javaType="User">
			<id property="userId" column="user_id"/>
			<result property="username" column="username"/>
			<result property="name" column="name"/>
		</association>
	</resultMap>
	
	
	
	<select id="getCustomerSupportList"  parameterType="int" resultMap="customerSupportResultMap">
		select cs.id,cs.user_id, cs.remark_name,cs.proxy_org_id,u.username,u.name from customer_supports cs
		join users u on u.user_id = cs.user_id
		where cs.proxy_org_id=#{proxyOrgId}
	</select>
	
	<select id="getTechPersonList"  parameterType="int" resultMap="techPersonResultMap">
		select t.id,t.user_id, t.remark_name,t.proxy_org_id,u.username,u.name from tech_person t
		join users u on u.user_id = t.user_id
		where t.proxy_org_id=#{proxyOrgId}
	</select>
	
	<select id="getProcessPersonList"  parameterType="int" resultMap="processPersonResultMap">
		select p.id,p.user_id, p.remark_name,p.proxy_org_id,u.username,u.name from process_person p
		join users u on u.user_id = p.user_id
		where p.proxy_org_id=#{proxyOrgId}
	</select>
	
	<select id="getOrgIdByUserId"  parameterType="int" resultType="int">
		select org_id from proxy_org where org_user_id = #{currentUserId}
	</select>
	
	<select id="getProxyOrgList"  parameterType="int" resultMap="proxyOrgResultMap">
		select p.org_id,p.org_user_id, p.remark_name,p.parent_org_id,u.username,u.name from proxy_org  p
		join users u on u.user_id = p.org_user_id
		where p.parent_org_id=#{parentOrgId}
	</select>
	
	<select id="getTopProxyOrgList" resultMap="proxyOrgResultMap">
		select p.org_id,p.org_user_id, p.remark_name,p.parent_org_id,u.username,u.name from proxy_org  p
		join users u on u.user_id = p.org_user_id
		where p.parent_org_id is null
	</select>
	
	
	<insert id="addOrUpdateCustomerSupport" parameterType="CustomerSupport" useGeneratedKeys="true" keyProperty="id">
		insert into customer_supports(user_id,proxy_org_id,remark_name) values(#{userId},#{proxyOrgId},'')
		on duplicate key update
			user_id=#{userId},proxy_org_id=#{proxyOrgId}
	</insert>
	
	<insert id="addOrUpdateTechPerson" parameterType="TechPerson" useGeneratedKeys="true" keyProperty="id">
		insert into tech_person(user_id,proxy_org_id,remark_name) values(#{userId},#{proxyOrgId},'')
		on duplicate key update
			user_id=#{userId},proxy_org_id=#{proxyOrgId}
	</insert>
		
	<insert id="addOrUpdateProcessPerson" parameterType="ProcessPerson" useGeneratedKeys="true" keyProperty="id">
		insert into process_person(user_id,proxy_org_id,remark_name) values(#{userId},#{proxyOrgId},'')
		on duplicate key update
			user_id=#{userId},proxy_org_id=#{proxyOrgId}
	</insert>
		
    <insert id="addOrUpdateProxyOrg" parameterType="ProxyOrg" useGeneratedKeys="true" keyProperty="orgId">
		insert into proxy_org(org_user_id,parent_org_id,remark_name) values(#{orgUserId},#{parentOrgId},'')
		on duplicate key update
			org_user_id=#{orgUserId},parent_org_id=#{parentOrgId}
	</insert>
	
	<select id="getOrgByParentOrgId" parameterType="int" resultMap="proxyOrgResultMap">
		select p.* from proxy_org  p
		where org_user_id=#{orgUserId} and parent_org_id is null
	</select>
	
	<insert id="addOrUpdateTopProxyOrg" parameterType="ProxyOrg" useGeneratedKeys="true" keyProperty="orgId">
		insert into proxy_org(org_user_id) values(#{orgUserId})
		on duplicate key update
			org_user_id=#{orgUserId}
	</insert>
	
	
		
	<insert id="insertGroupMember" >
		INSERT INTO group_members(username, group_id) VALUES((select username from users where user_id =#{userId}), 
			(SELECT group_id FROM group_authorities WHERE authority=#{roleName})
		)		
	</insert>
	
	
	<delete id="deleteCustomerSupport"  parameterType="int">
		delete from group_members where username=(select username from users where user_id = 
			(select user_id from customer_supports where id=#{id}))	and group_id=
			(SELECT group_id FROM group_authorities WHERE authority="ROLE_CUSTOMER_SUPPORT");	
		delete from customer_supports  where id=#{id}
	</delete>
	
	<delete id="deleteTechPerson" parameterType="int">
		delete from group_members where username=(select username from users where user_id = 
			(select user_id from tech_person where id=#{id}))	and group_id=
			(SELECT group_id FROM group_authorities WHERE authority="ROLE_TECH");
		delete from tech_person  where id=#{id} 	
	</delete>
	
	<delete id="deleteProcessPerson" parameterType="int">
		delete from group_members where username=(select username from users where user_id = 
			(select user_id from process_person where id=#{id}))	and group_id=
			(SELECT group_id FROM group_authorities WHERE authority="ROLE_PROCESS");
		delete from process_person  where id=#{id} 	
	</delete>
	
	<delete id="deleteProxyOrg"  parameterType="int">
		delete from group_members where username=(select username from users where user_id = 
			(select org_user_id from proxy_org where org_id=#{orgId}))	and group_id=
			(SELECT group_id FROM group_authorities WHERE authority="ROLE_PROXY_ORG");
		delete from proxy_org  where org_id=#{orgId} 	
	</delete>
	
	<update id="changeCustomerSupportRemarkName">
		update customer_supports set remark_name=#{remarkName} where id=#{id}
	</update>
	
	<update id="changeTechPersonRemarkName">
		update tech_person set remark_name=#{remarkName} where id=#{id}
	</update>
	
	<update id="changeProcessPersonRemarkName">
		update process_person set remark_name=#{remarkName} where id=#{id}
	</update>
	
	<update id="changeProxyOrgRemarkName">
		update proxy_org set remark_name=#{remarkName} where org_id=#{orgId}
	</update>
	
	<select id="getOrgIdByCustomerSupportId"  parameterType="int" resultType="int">
		select proxy_org_id from customer_supports where user_id = #{currentUserId}
	</select>
	
	
</mapper>