<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lotut.pms.dao.mapper.EmployeeMapper">
	<resultMap type="CustomerSupport" id="CustomerSupportResultMap">
		<id property="id" column="id"/>
		<result property="userId" column="user_id"/>
		<result property="proxyOrgId" column="proxy_org_id"/>
		<result property="remarkName" column="remark_name"/>
		<association property="user"  javaType="User">
			<id property="userId" column="user_id"/>
			<result property="username" column="username"/>
			<result property="name" column="name"/>
		</association>
	</resultMap>
	
	<resultMap type="Tech" id="TechResultMap">
		<id property="id" column="id"/>
		<result property="userId" column="user_id"/>
		<result property="proxyOrgId" column="proxy_org_id"/>
		<result property="remarkName" column="remark_name"/>
		<association property="user"  javaType="User">
			<id property="userId" column="user_id"/>
			<result property="username" column="username"/>
			<result property="name" column="name"/>
		</association>
	</resultMap>
	
	<resultMap type="Process" id="ProcessResultMap">
		<id property="id" column="id"/>
		<result property="userId" column="user_id"/>
		<result property="proxyOrgId" column="proxy_org_id"/>
		<result property="remarkName" column="remark_name"/>
		<association property="user"  javaType="User">
			<id property="userId" column="user_id"/>
			<result property="username" column="username"/>
			<result property="name" column="name"/>
		</association>
	</resultMap>
	
	<select id="getCustomerSupportList"  parameterType="int" resultMap="CustomerSupportResultMap">
		select cs.id,cs.user_id, cs.remark_name,cs.proxy_org_id,u.username,u.name from customer_supports cs
		join users u on u.user_id = cs.user_id
		where cs.proxy_org_id=#{proxyOrgId}
	</select>
	
	<select id="getTechList"  parameterType="int" resultMap="TechResultMap">
		select t.id,t.user_id, t.remark_name,t.proxy_org_id,u.username,u.name from techs t
		join users u on u.user_id = t.user_id
		where t.proxy_org_id=#{proxyOrgId}
	</select>
	
	<select id="getProcessList"  parameterType="int" resultMap="ProcessResultMap">
		select p.id,p.user_id, p.remark_name,p.proxy_org_id,u.username,u.name from processes p
		join users u on u.user_id = p.user_id
		where p.proxy_org_id=#{proxyOrgId}
	</select>
	
	
	<insert id="addOrUpdateCustomerSupport" parameterType="CustomerSupport" useGeneratedKeys="true" keyProperty="id">
		insert into customer_supports(user_id,proxy_org_id,remark_name) values(#{userId},#{proxyOrgId},'')
		on duplicate key update
			user_id=#{userId},proxy_org_id=#{proxyOrgId}
	</insert>
	
	<insert id="addOrUpdateTech" parameterType="Tech" useGeneratedKeys="true" keyProperty="id">
		insert into techs(user_id,proxy_org_id,remark_name) values(#{userId},#{proxyOrgId},'')
		on duplicate key update
			user_id=#{userId},proxy_org_id=#{proxyOrgId}
	</insert>
		
	<insert id="addOrUpdateProcess" parameterType="Process" useGeneratedKeys="true" keyProperty="id">
		insert into Processes(user_id,proxy_org_id,remark_name) values(#{userId},#{proxyOrgId},'')
		on duplicate key update
			user_id=#{userId},proxy_org_id=#{proxyOrgId}
	</insert>
		

	
	
		
	<insert id="insertGroupMember" >
		INSERT INTO group_members(username, group_id) VALUES((select username from users where user_id =#{userId}), 
			(SELECT group_id FROM group_authorities WHERE authority=#{roleName})
		)		
	</insert>
	
	
	<delete id="deleteCustomerSupport" >
		delete from group_members where username=(select username from users where user_id = 
			(select user_id from customer_supports where id=#{id}))	and group_id=
			(SELECT group_id FROM group_authorities WHERE authority="ROLE_CUSTOMER_SUPPORT");	
		delete from customer_supports  where id=#{id}
	</delete>
	
	<delete id="deleteTech" >
		delete from group_members where username=(select username from users where user_id = 
			(select user_id from techs where id=#{id}))	and group_id=
			(SELECT group_id FROM group_authorities WHERE authority="ROLE_TECH");
		delete from techs  where id=#{id} 	
	</delete>
	
	<delete id="deleteProcess" >
		delete from group_members where username=(select username from users where user_id = 
			(select user_id from processes where id=#{id}))	and group_id=
			(SELECT group_id FROM group_authorities WHERE authority="ROLE_PROCESS");
		delete from processes  where id=#{id} 	
	</delete>
	
	<update id="changeCustomerSupportRemarkName">
		update customer_supports set remark_name=#{remarkName} where id=#{id}
	</update>
	
	<update id="changeTechRemarkName">
		update techs set remark_name=#{remarkName} where id=#{id}
	</update>
	
	<update id="changeProcessRemarkName">
		update processes set remark_name=#{remarkName} where id=#{id}
	</update>
	
</mapper>