<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lotut.pms.dao.mapper.ExpressMapper">
		<resultMap type="Express" id="ExpressResultMap">
			<id property="expressId" column="express_id"/>
			<result property="expressRemark" column="express_remark"/>
			<result property="expressCompany" column="express_company"/>
			<result property="expressNo" column="express_no"/>
			<result property="phone" column="phone"/>
			<result property="contactPerson" column="contact_person"/>
			<result property="createTime" column="create_time"/>
			<result property="sendTime" column="send_time"/>
			<result property="signTime" column="sign_time"/>
			<result property="contactPerson" column="contact_person"/>
			<association property="contactAddress" javaType="ContactAddress">
				<id property="province" column="province_id"/>
				<result property="provinceName" column="province_name"/>
				<result property="city" column="city_id"/>
				<result property="cityName" column="city_name"/>
				<result property="district" column="district_id"/>
				<result property="districtName" column="district_name"/>
				<result property="detailAddress" column="detail_address"/>
			</association>
			<association property="expressStatus" javaType="ExpressStatus">
				<id property="expressStatusId" column="express_status_id"/>
				<result property="expressStatusDesc" column="express_status_desc"/>
			</association>
			<association property="sender" javaType="User">
				<id property="userId" column="sender_id"/>
				<result property="username" column="sender_name"/>
			</association>
			<association property="receiver" javaType="User">
				<id property="userId" column="receiver_id"/>
				<result property="username" column="receiver_name"/>
			</association>
	</resultMap>
	
	
	<select id="getUserSenderExpressListByPage" parameterType="Page" resultMap="ExpressResultMap">
		SELECT e.express_id,u.user_id AS  sender_id ,u.username AS sender_name,us.user_id AS receiver_id,us.username AS receiver_name,
		p.id AS province_id,p.name AS province_name,c.id AS city_id,
		c.name AS city_name, d.id AS district_id ,d.name AS district_name,e.detail_address ,
		e.express_company,e.express_no,e.phone,e.contact_person,e.send_time,e.express_remark,es.express_status_id,es.express_status_desc
		FROM express  e LEFT JOIN users u ON e.sender = u.user_id LEFT JOIN users us ON e.receiver=us.user_id 
		LEFT JOIN provinces p ON  e.province=p.id LEFT JOIN cities c ON e.city=c.id LEFT JOIN districts d ON e.district=d.id 
		LEFT JOIN express_status es ON e.express_status =es.express_status_id
		WHERE e.sender=#{userId} ORDER BY  e.express_status,e.send_time limit #{startIndex}, #{pageSize}
	</select>
	
	<select id="getUserSenderExpressCount" parameterType="int" resultType="int">
		SELECT count(*)
		FROM express  e LEFT JOIN users u ON e.sender = u.user_id LEFT JOIN users us ON e.receiver=us.user_id 
		LEFT JOIN provinces p ON  e.province=p.id LEFT JOIN cities c ON e.city=c.id LEFT JOIN districts d ON e.district=d.id 
		LEFT JOIN express_status es ON e.express_status =es.express_status_id
		WHERE e.sender=#{userId}
	</select>
	
	<select id="getUserReceiverExpressListByPage" parameterType="Page" resultMap="ExpressResultMap">
		SELECT e.express_id,u.user_id AS  sender_id ,u.username AS sender_name,us.user_id AS receiver_id,us.username AS receiver_name,
		p.id AS province_id,p.name AS province_name,c.id AS city_id,
		c.name AS city_name, d.id AS district_id ,d.name AS district_name,e.detail_address ,
		e.express_company,e.phone,e.express_no,e.contact_person,e.send_time,e.express_remark,es.express_status_id,es.express_status_desc
		FROM express  e LEFT JOIN users u ON e.sender = u.user_id LEFT JOIN users us ON e.receiver=us.user_id 
		LEFT JOIN provinces p ON  e.province=p.id LEFT JOIN cities c ON e.city=c.id LEFT JOIN districts d ON e.district=d.id 
		LEFT JOIN express_status es ON e.express_status =es.express_status_id
		WHERE e.receiver=#{userId} and e.express_status in (2,3) ORDER BY  e.express_status asc,e.send_time desc limit #{startIndex}, #{pageSize}
	</select>
	
	<select id="getUserReceiverExpressCount" parameterType="int" resultType="int">
		SELECT count(*)
		FROM express  e LEFT JOIN users u ON e.sender = u.user_id LEFT JOIN users us ON e.receiver=us.user_id 
		LEFT JOIN provinces p ON  e.province=p.id LEFT JOIN cities c ON e.city=c.id LEFT JOIN districts d ON e.district=d.id 
		LEFT JOIN express_status es ON e.express_status =es.express_status_id
		WHERE e.receiver=#{userId} and e.express_status in (2,3)
	</select>
	
	<update id="changeExpressStatus">
		update express set express_status=#{expressStatus} where express_id=#{expressId}
	</update>
	
	<select id="searchUserSenderExpressByPage" parameterType="ExpressSearchCondition" resultMap="ExpressResultMap">
		<if test="keyword != null">
			<bind name="keyword_pattern" value="'%' + keyword + '%'" />
		</if>	
			SELECT e.express_id,u.user_id AS  sender_id ,u.username AS sender_name,us.user_id AS receiver_id,us.username AS receiver_name,
		p.id AS province_id,p.name AS province_name,c.id AS city_id,
		c.name AS city_name, d.id AS district_id ,d.name AS district_name,e.detail_address ,
		e.express_company,e.express_no,e.phone,e.contact_person,e.send_time,e.express_remark,es.express_status_id,es.express_status_desc
		FROM express  e LEFT JOIN users u ON e.sender = u.user_id LEFT JOIN users us ON e.receiver=us.user_id 
		LEFT JOIN provinces p ON  e.province=p.id LEFT JOIN cities c ON e.city=c.id LEFT JOIN districts d ON e.district=d.id 
		LEFT JOIN express_status es ON e.express_status =es.express_status_id
		WHERE e.sender=#{userId} 
 		<if test="keyword != null">
					and ( es.express_status_desc like #{keyword_pattern} or e.express_company like #{keyword_pattern} or e.express_remark like #{keyword_pattern})
		</if>	
 		ORDER BY  e.express_status asc,e.send_time desc limit #{page.startIndex}, #{page.pageSize}
	</select>
	
	<select id="searchUserSenderExpressCount" parameterType="ExpressSearchCondition" resultType="int">
		<if test="keyword != null">
			<bind name="keyword_pattern" value="'%' + keyword + '%'" />
		</if>	
			
  		SELECT count(*)
  	 FROM express  e LEFT JOIN users u ON e.sender = u.user_id LEFT JOIN users us ON e.receiver=us.user_id 
		LEFT JOIN provinces p ON  e.province=p.id LEFT JOIN cities c ON e.city=c.id LEFT JOIN districts d ON e.district=d.id 
		LEFT JOIN express_status es ON e.express_status =es.express_status_id
		WHERE e.sender=#{userId} 
		<if test="keyword != null">
					and ( es.express_status_desc like #{keyword_pattern} or e.express_company like #{keyword_pattern} or e.express_remark like #{keyword_pattern})
		</if> 
	</select>
	<select id="getUserContactAddressById" parameterType="int" resultType="ContactAddress">
		SELECT ca.id, ca.receiver, ca.province, p.name AS provinceName, ca.city, c.name AS cityName,
				ca.district, d.name AS districtName,
					 ca.detail_address AS detailAddress, ca.phone, ca.email, ca.is_default isDefault
		 FROM contact_addresses ca JOIN provinces p ON ca.province = p.id
			JOIN cities c ON ca.city = c.id JOIN districts d ON ca.district = d.id
		 WHERE ca.id=#{receiverId}
	</select>
	<insert id="addExpress" parameterType="Express">
		insert into express(sender,receiver,express_remark,province,city,district,detail_address,express_company,express_no,send_time,express_status,phone,contact_person)
		values(#{sender.userId,javaType=int,jdbcType=INTEGER},#{receiver.userId,javaType=int,jdbcType=INTEGER},#{expressRemark},
		       #{contactAddress.province,javaType=int,jdbcType=INTEGER},#{contactAddress.city,javaType=long,jdbcType=BIGINT},
		       #{contactAddress.district,javaType=long,jdbcType=BIGINT},#{contactAddress.detailAddress,javaType=string,jdbcType=VARCHAR},
		       #{expressCompany},#{expressNo},
		       <choose>
	       		  <when test="sendTime!=null">
	       			#{sendTime}
	       		  </when>
	       		  <otherwise>
	       		    CURDATE()
	       		  </otherwise>
		       </choose>
		       ,#{expressStatus.expressStatusId,javaType=int,jdbcType=INTEGER},#{phone},#{contactPerson})
	</insert>
	
	<select id="searchUserReceiverExpressByPage" parameterType="ExpressSearchCondition" resultMap="ExpressResultMap">
		<if test="keyword != null">
			<bind name="keyword_pattern" value="'%' + keyword + '%'" />
		</if>	
			SELECT e.express_id,u.user_id AS  sender_id ,u.username AS sender_name,us.user_id AS receiver_id,us.username AS receiver_name,
		p.id AS province_id,p.name AS province_name,c.id AS city_id,
		c.name AS city_name, d.id AS district_id ,d.name AS district_name,e.detail_address ,
		e.express_company,e.phone,e.express_no,e.contact_person,e.send_time,e.express_remark,es.express_status_id,es.express_status_desc
		FROM express  e LEFT JOIN users u ON e.sender = u.user_id LEFT JOIN users us ON e.receiver=us.user_id 
		LEFT JOIN provinces p ON  e.province=p.id LEFT JOIN cities c ON e.city=c.id LEFT JOIN districts d ON e.district=d.id 
		LEFT JOIN express_status es ON e.express_status =es.express_status_id
		WHERE e.receiver=#{userId} and e.express_status in (2,3)
 		<if test="keyword != null">
					and ( es.express_status_desc like #{keyword_pattern} or e.express_company like #{keyword_pattern} or e.express_remark like #{keyword_pattern})
		</if>	
 		ORDER BY  e.express_status asc,e.send_time desc limit #{page.startIndex}, #{page.pageSize}
	</select>
	
	<select id="searchUserReceiverExpressCount" parameterType="ExpressSearchCondition" resultType="int">
		<if test="keyword != null">
			<bind name="keyword_pattern" value="'%' + keyword + '%'" />
		</if>	
  		SELECT count(*)
  	 FROM express  e LEFT JOIN users u ON e.sender = u.user_id LEFT JOIN users us ON e.receiver=us.user_id 
		LEFT JOIN provinces p ON  e.province=p.id LEFT JOIN cities c ON e.city=c.id LEFT JOIN districts d ON e.district=d.id 
		LEFT JOIN express_status es ON e.express_status =es.express_status_id
		WHERE e.receiver=#{userId} and e.express_status in (2,3)
		<if test="keyword != null">
					and ( es.express_status_desc like #{keyword_pattern} or e.express_company like #{keyword_pattern} or e.express_remark like #{keyword_pattern})
		</if> 
	</select>
	
	
	<insert id="updateExpress" parameterType="Express">
		update express set sender=#{sender.userId,javaType=int,jdbcType=INTEGER},receiver=#{receiver.userId,javaType=int,jdbcType=INTEGER},
		express_remark=#{expressRemark},province= #{contactAddress.province,javaType=int,jdbcType=INTEGER},city=#{contactAddress.city,javaType=long,jdbcType=BIGINT},
		district=#{contactAddress.district,javaType=long,jdbcType=BIGINT},detail_address=#{contactAddress.detailAddress,javaType=string,jdbcType=VARCHAR},
		express_company=#{expressCompany},express_no=#{expressNo},send_time=#{sendTime},express_status=#{expressStatus.expressStatusId,javaType=int,jdbcType=INTEGER},
		phone=#{phone},contact_person=#{contactPerson} where express_id=#{expressId}
	</insert>

	<select id="getExpressById" resultMap="ExpressResultMap">
		SELECT e.express_id,u.user_id AS  sender_id ,u.username AS sender_name,us.user_id AS receiver_id,us.username AS receiver_name,
		p.id AS province_id,p.name AS province_name,c.id AS city_id,
		c.name AS city_name, d.id AS district_id ,d.name AS district_name,e.detail_address ,
		e.express_company,e.phone,e.express_no,e.contact_person,e.send_time,e.express_remark,es.express_status_id,es.express_status_desc
		FROM express  e LEFT JOIN users u ON e.sender = u.user_id LEFT JOIN users us ON e.receiver=us.user_id 
		LEFT JOIN provinces p ON  e.province=p.id LEFT JOIN cities c ON e.city=c.id LEFT JOIN districts d ON e.district=d.id 
		LEFT JOIN express_status es ON e.express_status =es.express_status_id
		WHERE e.express_id=#{expressId}
	</select>
</mapper>