<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lotut.pms.dao.mapper.ExpressMapper">
		<resultMap type="Express" id="ExpressResultMap">
			<id property="expressId" column="express_id"/>
			<result property="expressRemark" column="express_remark"/>
			<result property="expressCompany" column="express_company"/>
			<result property="expressNo" column="express_no"/>
			<result property="phone" column="phone"/>
			<result property="contactPerson" column="contact_person"/>
			<result property="createTime" column="create_time"/>
			<result property="sendTime" column="send_time"/>
			<result property="signTime" column="sign_time"/>
			<association property="contactAddress" javaType="ContactAddress">
				<id property="province" column="province_id"/>
				<result property="provinceName" column="province_name"/>
				<result property="provinceName" column="province_name"/>
				<result property="city" column="city_id"/>
				<result property="cityName" column="city_name"/>
				<result property="district" column="district_id"/>
				<result property="districtName" column="district_name"/>
				<result property="detailAddress" column="detail_address"/>
			</association>
			<association property="expressStatus" javaType="ExpressStatus">
				<id property="expressStatusId" column="express_status_id"/>
				<result property="expressStatusDesc" column="express_status_desc"/>
			</association>
			<association property="sender" javaType="User">
				<id property="userId" column="sender_id"/>
				<result property="username" column="sender_name"/>
			</association>
			<association property="receiver" javaType="User">
				<id property="userId" column="receiver_id"/>
				<result property="username" column="receiver_name"/>
			</association>
	</resultMap>
	
	
	<select id="getUserSenderExpressListByPage" parameterType="Page" resultMap="ExpressResultMap">
		SELECT e.express_id,u.user_id AS  sender_id ,u.username AS sender_name,us.user_id AS receiver_id,us.username AS receiver_name,
		p.id AS province_id,p.name AS province_name,c.id AS city_id,
		c.name AS city_name, d.id AS district_id ,d.name AS district_name,e.detail_address ,
		e.express_company,e.express_no,e.phone,e.contact_person,e.send_time,e.express_remark,es.express_status_id,es.express_status_desc
		FROM express  e LEFT JOIN users u ON e.sender = u.user_id LEFT JOIN users us ON e.receiver=us.user_id 
		LEFT JOIN provinces p ON  e.province=p.id LEFT JOIN cities c ON e.city=c.id LEFT JOIN districts d ON e.district=d.id 
		LEFT JOIN express_status es ON e.express_status =es.express_status_id
		WHERE e.sender=#{userId} ORDER BY  e.express_status,e.send_time limit #{startIndex}, #{pageSize}
	</select>
	
	<select id="getUserSenderExpressCount" parameterType="int" resultType="int">
		SELECT count(*)
		FROM express  e LEFT JOIN users u ON e.sender = u.user_id LEFT JOIN users us ON e.receiver=us.user_id 
		LEFT JOIN provinces p ON  e.province=p.id LEFT JOIN cities c ON e.city=c.id LEFT JOIN districts d ON e.district=d.id 
		LEFT JOIN express_status es ON e.express_status =es.express_status_id
		WHERE e.sender=#{userId}
	</select>
	
	<select id="getUserReceiverExpressListByPage" parameterType="Page" resultMap="ExpressResultMap">
		SELECT e.express_id,u.user_id AS  sender_id ,u.username AS sender_name,us.user_id AS receiver_id,us.username AS receiver_name,
		p.id AS province_id,p.name AS province_name,c.id AS city_id,
		c.name AS city_name, d.id AS district_id ,d.name AS district_name,e.detail_address ,
		e.express_company,e.phone,e.express_no,e.contact_person,e.send_time,e.express_remark,es.express_status_id,es.express_status_desc
		FROM express  e LEFT JOIN users u ON e.sender = u.user_id LEFT JOIN users us ON e.receiver=us.user_id 
		LEFT JOIN provinces p ON  e.province=p.id LEFT JOIN cities c ON e.city=c.id LEFT JOIN districts d ON e.district=d.id 
		LEFT JOIN express_status es ON e.express_status =es.express_status_id
		WHERE e.receiver=#{userId} ORDER BY  e.express_status,e.send_time limit #{startIndex}, #{pageSize}
	</select>
	
	<select id="getUserReceiverExpressCount" parameterType="int" resultType="int">
		SELECT count(*)
		FROM express  e LEFT JOIN users u ON e.sender = u.user_id LEFT JOIN users us ON e.receiver=us.user_id 
		LEFT JOIN provinces p ON  e.province=p.id LEFT JOIN cities c ON e.city=c.id LEFT JOIN districts d ON e.district=d.id 
		LEFT JOIN express_status es ON e.express_status =es.express_status_id
		WHERE e.receiver=#{userId}
	</select>
	
	<update id="changeExpressStatus">
		update express set express_id=#{expressId},express_status=#{expressStatus}
	</update>
	<select id="getUserContactAddressById" parameterType="int" resultType="ContactAddress">
		SELECT ca.id, ca.receiver, ca.province, p.name AS provinceName, ca.city, c.name AS cityName,
				ca.district, d.name AS districtName,
					 ca.detail_address AS detailAddress, ca.phone, ca.email, ca.is_default isDefault
		 FROM contact_addresses ca JOIN provinces p ON ca.province = p.id
			JOIN cities c ON ca.city = c.id JOIN districts d ON ca.district = d.id
		 WHERE ca.id=#{receiverId}
	</select>
	<!-- <insert id="addExpress" parameterType="Express">
		insert into express(sender,receiver,express_remark,province,city,district,detail_address,express_company,express_no,create_time,express_status,phone,contact_person)
		values(#{sender.userId},#{contactAddress.receiver},#{expressRemark},#{contactAddress.province},#{contactAddress.city},#{contactAddress.district},#{contactAddress.detailAddress},#{expressCompany},#{expressNo},now(),#{expressStatus},#{phone},#{contactPerson})
	</insert> -->
	
</mapper>