<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.lotut.pms.dao.mapper.InventorMapper">
	<insert id="addInventor" parameterType="CommonInventor">
		insert into common_inventor (inventor_name,inventor_id_nubmer,inventor_nationality,inventor_mobile,inventor_email,inventor_other_information
		,user_Id)
		values(#{inventorName},#{inventorNumber},#{inventorNationality},#{inventorMobile},#{inventorEmail},#{inventorComment},#{userId})
	
	</insert>

	<select id="getAllInventorsByUser" parameterType="int" resultType="CommonInventor">
		select inventor_id as inventorId ,inventor_name as inventorName,inventor_id_nubmer as inventorNumber,
		inventor_nationality as inventorNationality,inventor_mobile as inventorMobile,inventor_email as inventorEmail,
		inventor_other_information as inventorComment,user_id  as userId
		from common_inventor where user_id =#{userId}
	
	</select>
	
	<select id="getInventorById" parameterType="int" resultType="CommonInventor">
		select inventor_id as inventorId ,inventor_name as inventorName,inventor_id_nubmer as inventorNumber,
		inventor_nationality as inventorNationality,inventor_mobile as inventorMobile,inventor_email as inventorEmail,
		inventor_other_information as inventorComment,user_id  as userId
		from common_inventor where inventor_id =#{inventorId}
	
	</select>
	
	<update id="updateById" parameterType="CommonInventor">
		update common_inventor set inventor_name=#{inventorName} ,inventor_id_nubmer=#{inventorNationality},
		inventor_nationality=#{inventorNationality},inventor_mobile=#{inventorMobile},inventor_email=#{inventorEmail},
		inventor_other_information=#{inventorComment} where inventor_id=#{inventorId}
	
	
	</update>

	<delete id="deleteById" parameterType="int">
		delete from common_inventor where inventor_id = #{inventorId}
	
	</delete>
	<select id="getInventorByName" resultType="CommonInventor">
		select inventor_id as inventorId ,inventor_name as inventorName,inventor_id_nubmer as inventorNumber,
		inventor_nationality as inventorNationality,inventor_mobile as inventorMobile,inventor_email as inventorEmail,
		inventor_other_information as inventorComment,user_id  as userId
		from common_inventor where inventor_name like #{inventor} and userId=#{userId}
	</select>
</mapper>