<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lotut.pms.dao.mapper.NewsMapper">
	
	<resultMap type="News" id="NewsResultMap">
		<id property="id" column="id"/>
		<result property="keywords" column="keywords"/>
		<result property="author" column="author"/>
		<result property="title" column="title"/>
		<result property="source" column="source"/>
		<result property="content" column="content"/>
		<result property="newsAbstract" column="abstract"/>
		<result property="createTime" column="create_time"/>
		<result property="publishTime" column="publish_time"/>
		<result property="updateTime" column="update_time"/>
		<association property="newsType" resultMap="NewsTypeResultMap"/>
		<association property="user" resultMap="com.lotut.pms.dao.mapper.UserMapper.UserResultMap"/>
	</resultMap>
	
	<resultMap type="NewsImg" id="NewImgMap">
			<id property="imgId" column="img_id"/>
			<result property="imgUrl" column="img_url"/>
			<result property="newsId" column="news_id"/>
			<result property="caption" column="caption"/>
	</resultMap>
	
	
	<resultMap type="newsType" id="NewsTypeResultMap">
		<id property="typeId" column="type_id"/>
		<result property="typeName" column="type_name"/>
	</resultMap>
	
	<select id="getUserNewsByPage" parameterType="Page" resultMap="NewsResultMap">
		SELECT n.id,n.keywords,n.author,n.title,n.source,n.abstract,n.create_time,n.publish_time,n.update_time,
		nt.type_id ,nt.type_name,u.user_id,u.username
		FROM news n LEFT JOIN news_type nt ON  n.news_type=nt.type_id LEFT JOIN users u ON n.user_id=u.user_id 
	<!-- 	WHERE n.user_id=#{userId} limit #{startIndex}, #{pageSize} -->
	</select>
	
	<select id="getUserNewsCount" parameterType="int" resultType="int">
		SELECT count(*)
		FROM news n LEFT JOIN news_type nt ON  n.news_type=nt.type_id LEFT JOIN users u ON n.user_id=u.user_id 
		WHERE n.user_id=#{userId}
	</select>
	
	<select id="getUserNewsById"  resultMap="NewsResultMap">
		SELECT n.id,n.keywords,n.author,n.title,n.source,n.abstract,n.create_time,n.publish_time,n.update_time,
		nt.type_id ,nt.type_name,u.user_id,u.username
		FROM news n LEFT JOIN news_type nt ON  n.news_type=nt.type_id LEFT JOIN users u ON n.user_id=u.user_id 
		WHERE n.id=#{newsId}
	</select>
	
	
	<select id="searchUserNewsByPage" parameterType="NewsSearchCondition" resultMap="NewsResultMap" >
		<if test="keyword != null">
			<bind name="keyword_pattern" value="'%' + keyword + '%'" />
		</if>
		SELECT n.id,n.keywords,n.author,n.title,n.source,n.abstract,n.create_time,n.publish_time,n.update_time,
		nt.type_id ,nt.type_name,u.user_id,u.username
		FROM news n LEFT JOIN news_type nt ON  n.news_type=nt.type_id LEFT JOIN users u ON n.user_id=u.user_id 
		WHERE n.user_id=#{userId}
		<if test="keyword != null">
					and ( n.keywords like #{keyword_pattern} or n.author like #{keyword_pattern} or n.title like #{keyword_pattern}
					or n.source like #{keyword_pattern} or n.abstract like #{keyword_pattern})
		</if>
		<if test="newsType != null and newsType !=''">
					and ( n.news_type = #{newsType})
		</if>
		limit #{page.startIndex}, #{page.pageSize}
	</select>
	
	<select id="searchUserNewsCount" parameterType="NewsSearchCondition" resultType="int" >
		<if test="keyword != null">
			<bind name="keyword_pattern" value="'%' + keyword + '%'" />
		</if>
		SELECT count(*)
		FROM news n LEFT JOIN news_type nt ON  n.news_type=nt.type_id LEFT JOIN users u ON n.user_id=u.user_id 
		WHERE n.user_id=#{userId}
		<if test="keyword != null">
					and ( n.keywords like #{keyword_pattern} or n.author like #{keyword_pattern} or n.title like #{keyword_pattern}
					or n.source like #{keyword_pattern} or n.abstract like #{keyword_pattern})
		</if>
		<if test="newsType != null and newsType !=''">
					and ( n.news_type = #{newsType})
		</if>
	</select>
	
	
	<select id="getAllNewsTypes" resultMap="NewsTypeResultMap">
		select type_id, type_name
		  from news_type
		 order by type_id asc;	
	</select>
	
</mapper>