<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lotut.pms.dao.mapper.NewsMapper">
	
	<resultMap type="News" id="NewsResultMap">
		<id property="id" column="id"/>
		<result property="keywords" column="keywords"/>
		<result property="author" column="author"/>
		<result property="title" column="title"/>
		<result property="source" column="source"/>
		<result property="content" column="content"/>
		<result property="newsAbstract" column="abstract"/>
		<result property="createTime" column="create_time"/>
		<result property="publishTime" column="publish_time"/>
		<result property="updateTime" column="update_time"/>
		<association property="newsType"  javaType="NewsType">
			<id property="id" column="id"/>
			<result property="name" column="name"/>
		</association>
		<association property="user" resultMap="com.lotut.pms.dao.mapper.UserMapper.UserResultMap"/>
	</resultMap>
	<resultMap type="NewImg" id="NewImgMap">
			<id property="imgId" column="img_id"/>
			<result property="imgUrl" column="img_url"/>
			<result property="newsId" column="news_id"/>
			<result property="caption" column="caption"/>
		</resultMap>
	
	
	<select id="getUserNewsByPage" resultMap="NewsResultMap">
		select id
	</select>
	
</mapper>