<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lotut.pms.dao.mapper.NoticeMapper">
	<resultMap type="NoticeProcessStatus" id="NoticeProcessStatusResultMap">
		<id property="processStatusId" column="notice_process_status_id"/>
		<result property="processStatusDescription" column="notice_process_status_desc"/>
	</resultMap>
	
	<resultMap type="NoticePaperApplyType" id="NoticePaperApplyTypeResultMap">
		<id property="paperTypeId" column="notice_paper_apply_type_id"/>
		<result property="paperTypeDescription" column="notice_paper_apply_type_desc"/>	
	</resultMap>
	
	<resultMap type="NoticeType" id="NoticeTypeResultMap">
		<id property="noticeTypeId" column="notice_type_id"/>
		<result property="noticeTypeDescription" column="notice_type_desc"/>	
	</resultMap>
	
	
	<resultMap type="Notice" id="NoticeResultMap">
		<id property="noticeId" column="notice_id"/>
		<result property="name" column="notice_name"/>
		<result property="noticeSequence" column="notice_sequence"/>
		<result property="dispatchSequence" column="dispatch_sequence"/>
		<result property="dispatchDate" column="dispatch_date"/>
		<result property="remainDays" column="remain_days"/>
		<result property="noticeCode" column="noticeCode"/>
		<result property="zipBid" column="zip_bid"/>
		<result property="dmhFlag" column="dmh_flag"/>
		<result property="archiveNo" column="archive_no"/>
		<result property="zipfileName" column="zipfile_name"/>
		<result property="noticeViewStatus" column="notice_view_status"/>
		<association property="processStatus" resultMap="NoticeProcessStatusResultMap"/>
		<association property="paperApplyType"  javaType="NoticePaperApplyType">
			<id property="paperTypeId" column="paper_type_id"/>
			<result property="paperTypeDescription" column="paper_type_description"/>
		</association>
		<association property="processUser"  javaType="User">
			<id property="userId" column="process_user_id"/>
			<result property="username" column="process_username"/>
		</association>
		<association property="patent"  javaType="Patent">
			<id property="patentId" column="patent_id"/>
			<result property="appNo" column="app_no"/>
			<result property="name" column="patent_name"/>
			<result  property="ownerId"  column="patent_owner"/>
			<result property="patentStatusText" column="patent_status_text"/>
			<result property="appPerson" column="app_person"/>
			<result property="internalCode" column="internal_code"/>
			<association property="patentStatus" javaType="PatentStatus">
				<id property="patentStatusId" column="patent_status_id"/>
				<result property="statusDescription" column="patent_status_description"/>
			</association>
			<collection property="shareUsers" ofType="User">
				<id property="userId" column="share_user_id"/>
				<result property="username" column="share_username"/>
			</collection>			
		</association>		
	</resultMap>
	
	<resultMap type="NoticeRemark" id="noticeRemarkResultMap">
		<id property="remarkId" column="remark_id" />		
		<result property="createTime" column="create_time"/>
		<result property="content" column="content"/>
		<result property="noticeId" column="notice_id"/>
		<association property="user"  javaType="User">
			<id property="userId" column="user_id"/>
			<result property="username" column="username"/>
		</association>
			
	</resultMap>
	
	<!-- 分页 -->
	<select id="getUserNoticesCount" resultType="int">
		select count(*) from notices n where patent in (select patent from user_patents where user = #{userId}) and n.process_status=1
	</select>
	
	<select id="getUserNoticesByPage" parameterType="Page" resultMap="NoticeResultMap">
		select un.*, u.user_id as share_user_id,  u.username as share_username
		from (select p.patent_id, p.app_no, p.patent_name, p.patent_owner,p.app_person, ps.patent_status_id,p.patent_status_text,p.internal_code, ps.patent_status_desc as patent_status_description,
				n.notice_id,n.notice_name,  n.notice_sequence, n.dispatch_sequence, n.dispatch_date,
				if(n.time_limit - datediff(curdate(), n.dispatch_date) >= 0, n.time_limit - datediff(curdate(), n.dispatch_date), -1)  as remain_days,
				n.notice_code, n.zip_bid, n.dmh_flag, n.archive_no, n.zipfile_name,
				npt.notice_paper_apply_type_id as paper_type_id, npt.notice_paper_apply_type_desc as paper_type_description, 
				nps.notice_process_status_id, nps.notice_process_status_desc, n.process_user as process_user_id, pu.username as process_username,
				nvl.notice_id AS notice_view_status
				from patents p left join patent_status ps on p.patent_status = ps.patent_status_id
						join notices n on n.patent = p.patent_id
						LEFT JOIN notice_read nvl ON n.notice_id=nvl.notice_id and nvl.user_id = #{userId} 
						left join users pu on pu.user_id = n.process_user
						join notice_paper_apply_types npt on n.paper_apply_type = npt.notice_paper_apply_type_id
						join notice_process_status nps on nps.notice_process_status_id = n.process_status
			 where n.patent in (select patent from user_patents where user = #{userId} and trash_status=1) and nps.notice_process_status_id=1
			  order by nvl.notice_id,nps.notice_process_status_id, n.dispatch_date desc, p.app_no
				limit #{startIndex}, #{pageSize}) as un
			join user_patents up on un.patent_id = up.patent
		  	join users u on up.user = u.user_id	
	</select>
	<!-- 通知书处理状态 -->
	<update id="updateProcessStatus">
		update notices set process_status = #{processStatus} 
		where notice_id = #{noticeId}
	</update>

	<resultMap type="Notice" id="SingleNoticeResultMap">
		<id property="noticeId" column="notice_id"/>
		<result property="name" column="notice_name"/>
		<result property="noticeStatusText" column="notice_status_text"/>
		<result property="noticeSequence" column="notice_sequence"/>
		<result property="dispatchDate" column="dispatch_date"/>
		<result property="zipfileName" column="zipfile_name"/>
		<association property="patent"  javaType="Patent">
			<id property="patentId" column="patent_id"/>
			<result property="appNo" column="app_no"/>
			<result property="name" column="patent_name"/>
			<result property="patentStatusText" column="patent_status_text"/>
			
		</association>		
	</resultMap>	
	<select id="getNoticeById" resultMap="SingleNoticeResultMap">
		select n.notice_id, n.notice_sequence,p.patent_status_text, n.dispatch_date, n.notice_name, n.zipfile_name, p.patent_id, p.app_no, p.patent_name
		  from notices n join patents p on n.patent = p.patent_id
		 where notice_id = #{noticeId} 
	</select>
	
	<select id="getUserNoticesByPatentType" resultMap="NoticeResultMap">
		select p.patent_id, p.app_no, p.patent_name,p.patent_owner,p.patent_status_text, p.app_person,p.internal_code, ps.patent_status_id, ps.patent_status_desc as patent_status_description, 
			u.user_id as share_user_id,  u.username as share_username, 
			n.notice_id,n.notice_name,  n.notice_sequence, n.dispatch_sequence, n.dispatch_date,
			if(n.time_limit - datediff(curdate(), n.dispatch_date) >= 0, n.time_limit - datediff(curdate(), n.dispatch_date), -1)  as remain_days,
			n.notice_code, n.zip_bid, n.dmh_flag, n.archive_no, n.zipfile_name, 
			npt.notice_paper_apply_type_id as paper_type_id, npt.notice_paper_apply_type_desc as paper_type_description, 
			nps.notice_process_status_id, nps.notice_process_status_desc, n.process_user as process_user_id, pu.username as process_username
		  from patents p left join patent_status ps on p.patent_status = ps.patent_status_id
			join user_patents up on p.patent_id = up.patent 
			join notices n on n.patent = up.patent
			left join users pu on pu.user_id = n.process_user
			join users u on u.user_id = up.user
			join notice_paper_apply_types npt on n.paper_apply_type = npt.notice_paper_apply_type_id
			join notice_process_status nps on nps.notice_process_status_id = n.process_status
		 where p.patent_type = #{patentType}
		   and n.patent in (select patent from user_patents where user = #{userId} and trash_status=1)	
	</select>	
	
	<select id="getUserNoticesByType" resultMap="NoticeResultMap">
		select p.patent_id, p.app_no, p.patent_name,p.patent_status_text, p.app_person,p.internal_code, ps.patent_status_id, ps.patent_status_desc as patent_status_description, 
			u.user_id as share_user_id,  u.username as share_username, 
			n.notice_id,n.notice_name,  n.notice_sequence, n.dispatch_sequence, n.dispatch_date,
			if(n.time_limit - datediff(curdate(), n.dispatch_date) >= 0, n.time_limit - datediff(curdate(), n.dispatch_date), -1)  as remain_days,
			n.notice_code, n.zip_bid, n.dmh_flag, n.archive_no, n.zipfile_name,
			npt.notice_paper_apply_type_id as paper_type_id, npt.notice_paper_apply_type_desc as paper_type_description, 
			nps.notice_process_status_id, nps.notice_process_status_desc, n.process_user as process_user_id, pu.username as process_username
		  from patents p left join patent_status ps on p.patent_status = ps.patent_status_id
			join user_patents up on p.patent_id = up.patent 
			join notices n on n.patent = up.patent
			left join users pu on pu.user_id = n.process_user
			join users u on u.user_id = up.user
			join notice_paper_apply_types npt on n.paper_apply_type = npt.notice_paper_apply_type_id
			join notice_process_status nps on nps.notice_process_status_id = n.process_status
		 where n.notice_type = #{noticeType}
		   and n.patent in (select patent from user_patents where user = #{userId} and trash_status=1)	
	</select>
	
	
	<select id="searchUserNoticesCount" resultType="int">
		<if test="keyword != null">
			<bind name="keyword_pattern" value="'%' + keyword + '%'" />
		</if>	
		select count(*) 
		  from notices n join patents p on n.patent = p.patent_id
		  LEFT JOIN notice_read nvl ON n.notice_id=nvl.notice_id and nvl.user_id = #{userId}
		  	left join patent_status ps on p.patent_status = ps.patent_status_id
		 where patent in (select patent from user_patents where user = #{userId} and trash_status=1)	
		 	<if test="patentType != null">
		 		<choose>
		 			<when test="patentType == 0">
		 				and p.patent_type is null
		 			</when>
		 			<otherwise>
		 				and p.patent_type = #{patentType}
		 			</otherwise>
		 		</choose>
			 </if>	
		 	<if test="noticeProcessStatus != null">
		 		and n.process_status = #{noticeProcessStatus}
		 	</if>	
		 	<if test="noticeType != null">
		 		and n.notice_type = #{noticeType}
		 	</if>	
		 	<if test="paperApplyType != null">
		 		and n.paper_apply_type = #{paperApplyType}
		 	</if>		 			 	
		 	<if test="startAppDate != null">
		 		and p.app_date >= #{startAppDate}
		 	</if>	
		 	<if test="endAppDate != null">
		 		<![CDATA[ and p.app_date <= #{endAppDate} ]]>
		 	</if>	
		 	<if test="startDispatchDate != null">
		 		and n.dispatch_date >= #{startDispatchDate}
		 	</if>	
		 	<if test="endDispatchDate != null">
		 		<![CDATA[ and n.dispatch_date <= #{endDispatchDate} ]]>
		 	</if>		 	
		 	<if test="keyword != null">
				and (p.app_no like #{keyword_pattern} or p.patent_name like #{keyword_pattern} or p.app_person like #{keyword_pattern}  or p.patent_status_text like #{keyword_pattern}
				or n.notice_name like #{keyword_pattern} or ps.patent_status_desc like #{keyword_pattern})
			</if>
			<if test="timeLimitType != null">
					<choose>
			 		<when test="timeLimitType == 1">
			 			and IF(n.time_limit - DATEDIFF(CURDATE(), n.dispatch_date) >= 0, n.time_limit - DATEDIFF(CURDATE(), n.dispatch_date), -1) = -1
			 		</when>
			 		<when test="timeLimitType == 2">
			 			and IF(n.time_limit - DATEDIFF(CURDATE(), n.dispatch_date) >= 0, n.time_limit - DATEDIFF(CURDATE(), n.dispatch_date), -1) between 0 and 7
			 		</when>
			 		<when test="timeLimitType == 3">
			 			and IF(n.time_limit - DATEDIFF(CURDATE(), n.dispatch_date) >= 0, n.time_limit - DATEDIFF(CURDATE(), n.dispatch_date), -1) between 8 and 14
			 		</when>
			 		<when test="timeLimitType == 4">
			 			and IF(n.time_limit - DATEDIFF(CURDATE(), n.dispatch_date) >= 0, n.time_limit - DATEDIFF(CURDATE(), n.dispatch_date), -1) between 15 and 30
			 		</when>
			 		<otherwise>
			 			and IF(n.time_limit - DATEDIFF(CURDATE(), n.dispatch_date) >= 0, n.time_limit - DATEDIFF(CURDATE(), n.dispatch_date), -1) > 30
			 		</otherwise>	 				 				 				 		
			 	   </choose>
		</if> 
		<if test="noticeViewStatus != null">
					<choose>
						<when test="noticeViewStatus == 1">
							and nvl.notice_id is not null
						</when>
						<when test="noticeViewStatus == 2">
							and nvl.notice_id is  null
						</when>
					</choose>
					
				</if> 						 			 		 
	</select>	
	
	<select id="searchUserNoticesByPage" parameterType="NoticeSearchCondition" resultMap="NoticeResultMap">
		<if test="keyword != null">
			<bind name="keyword_pattern" value="'%' + keyword + '%'" />
		</if>
		select un.*, u.user_id as share_user_id,  u.username as share_username
		from (select p.patent_id, p.app_no, p.patent_name,p.patent_status_text, p.app_person,p.internal_code, ps.patent_status_id, ps.patent_status_desc as patent_status_description,
				n.notice_id,n.notice_name, n.notice_sequence, n.dispatch_sequence, n.dispatch_date,
				if(n.time_limit - datediff(curdate(), n.dispatch_date) >= 0, n.time_limit - datediff(curdate(), n.dispatch_date), -1)  as remain_days,
				n.notice_code, n.zip_bid, n.dmh_flag, n.archive_no, n.zipfile_name,
				npt.notice_paper_apply_type_id as paper_type_id, npt.notice_paper_apply_type_desc as paper_type_description, 
				nps.notice_process_status_id, nps.notice_process_status_desc, n.process_user as process_user_id, pu.username as process_username,
				nvl.notice_id AS notice_view_status
				from patents p left join patent_status ps on p.patent_status = ps.patent_status_id
						join notices n on n.patent = p.patent_id
						LEFT JOIN notice_read nvl ON n.notice_id=nvl.notice_id and nvl.user_id = #{userId}
						left join users pu on pu.user_id = n.process_user
						join notice_paper_apply_types npt on n.paper_apply_type = npt.notice_paper_apply_type_id
						join notice_process_status nps on nps.notice_process_status_id = n.process_status
			 where n.patent in (select patent from user_patents where user = #{userId} and trash_status=1)
			 	<if test="patentType != null">
			 		<choose>
			 			<when test="patentType == 0">
			 				and p.patent_type is null
			 			</when>
			 			<otherwise>
			 				and p.patent_type = #{patentType}
			 			</otherwise>
			 		</choose>
			 	</if>	
			 	<if test="noticeProcessStatus != null">
			 		and n.process_status = #{noticeProcessStatus}
			 	</if>	
			 	<if test="noticeType != null">
			 		and n.notice_type = #{noticeType}
			 	</if>	
			 	<if test="paperApplyType != null">
			 		and n.paper_apply_type = #{paperApplyType}
			 	</if>		 			 	
			 	<if test="startAppDate != null">
			 		and p.app_date >= #{startAppDate}
			 	</if>	
			 	<if test="endAppDate != null">
			 		<![CDATA[ and p.app_date <= #{endAppDate} ]]>
			 	</if>	
			 	<if test="startDispatchDate != null">
			 		and n.dispatch_date >= #{startDispatchDate}
			 	</if>	
			 	<if test="endDispatchDate != null">
			 		<![CDATA[ and n.dispatch_date <= #{endDispatchDate} ]]>
			 	</if>		 	
			 	<if test="keyword != null">
					and (p.app_no like #{keyword_pattern} or p.patent_name like #{keyword_pattern} or p.app_person like #{keyword_pattern}  or p.patent_status_text like #{keyword_pattern} or p.internal_code like #{keyword_pattern} 
					or n.notice_name like #{keyword_pattern} or ps.patent_status_desc like #{keyword_pattern})
				</if>
				<if test="timeLimitType != null">
					<choose>
			 		<when test="timeLimitType == 1">
			 			and IF(n.time_limit - DATEDIFF(CURDATE(), n.dispatch_date) >= 0, n.time_limit - DATEDIFF(CURDATE(), n.dispatch_date), -1) = -1
			 		</when>
			 		<when test="timeLimitType == 2">
			 			and IF(n.time_limit - DATEDIFF(CURDATE(), n.dispatch_date) >= 0, n.time_limit - DATEDIFF(CURDATE(), n.dispatch_date), -1) between 0 and 7
			 		</when>
			 		<when test="timeLimitType == 3">
			 			and IF(n.time_limit - DATEDIFF(CURDATE(), n.dispatch_date) >= 0, n.time_limit - DATEDIFF(CURDATE(), n.dispatch_date), -1) between 8 and 14
			 		</when>
			 		<when test="timeLimitType == 4">
			 			and IF(n.time_limit - DATEDIFF(CURDATE(), n.dispatch_date) >= 0, n.time_limit - DATEDIFF(CURDATE(), n.dispatch_date), -1) between 15 and 30
			 		</when>
			 		<otherwise>
			 			and IF(n.time_limit - DATEDIFF(CURDATE(), n.dispatch_date) >= 0, n.time_limit - DATEDIFF(CURDATE(), n.dispatch_date), -1) > 30
			 		</otherwise>	 				 				 				 		
			 	   </choose>
			 	 </if>
			 	 <if test="noticeViewStatus != null">
					<choose>
						<when test="noticeViewStatus == 1">
							and nvl.notice_id is not null
						</when>
						<when test="noticeViewStatus == 2">
							and nvl.notice_id is  null
						</when>
					</choose>
					
				</if> 
			  order by nvl.notice_id,nps.notice_process_status_id, n.dispatch_date desc, p.app_no
				limit #{page.startIndex}, #{page.pageSize}) as un
			join user_patents up on un.patent_id = up.patent
		  	join users u on up.user = u.user_id		
	</select>
	
	<insert id="insertOrUpdateNotice" parameterType="Notice" useGeneratedKeys="true" keyProperty="noticeId">
		insert into notices(notice_sequence, dispatch_sequence, time_limit, dispatch_date, notice_name, notice_code, zip_bid, dmh_flag, archive_no, zipfile_name, notice_type, patent)
		values(#{noticeSequence}, #{dispatchSequence, javaType=string, jdbcType=VARCHAR}, #{timeLimt, javaType=Integer, jdbcType=INTEGER},
			   #{dispatchDate, javaType=date, jdbcType=DATE}, #{name, javaType=string, jdbcType=VARCHAR},
			    #{noticeCode, javaType=string, jdbcType=VARCHAR},#{zipBid, javaType=string, jdbcType=VARCHAR}, #{dmhFlag, javaType=string, jdbcType=VARCHAR}, #{archiveNo, javaType=string, jdbcType=VARCHAR},
			   #{zipfileName, javaType=string, jdbcType=VARCHAR}, #{noticeType.noticeTypeId, javaType=int, jdbcType=INTEGER}, #{patent.patentId})
		on duplicate key update 
			notice_sequence = #{noticeSequence},
			<if test="dispatchSequence != null">dispatch_sequence = #{dispatchSequence},</if>
			<if test="timeLimt != null">time_limit = #{timeLimt},</if>
			<if test="dispatchDate != null">dispatch_date = #{dispatchDate},</if>
			<if test="name != null">notice_name = #{name},</if>
			<if test="noticeCode != null">notice_code = #{noticeCode},</if>
			<if test="zipBid != null">notice_code = #{zipBid},</if>
			<if test="dmhFlag != null">dmh_flag = #{dmhFlag},</if>
			<if test="archiveNo != null">archive_no = #{archiveNo},</if>
			<if test="zipfileName != null">zipfile_name = #{zipfileName},</if>
			<if test="noticeType != null">notice_type = #{noticeType.noticeTypeId},</if>
			<if test="zipfileName != null">zipfile_name = #{zipfileName},</if>
			patent = #{patent.patentId}
	</insert>
	
	<update id="updateNoticesProcessStatus">
		update notices set process_status = #{noticeProcessStatus}
		 where notice_id in 
		<foreach item="noticeId" collection="noticeIdList" open="(" separator="," close=")">
			#{noticeId}
		</foreach>		 
	</update>
	
	<update id="updateNoticePaperApplyType">
		update notices set paper_apply_type = #{paperApplyType}
		 where notice_id = #{noticeId}
	</update>
	
	<select id="getAllNoticeProcessStatus" resultMap="NoticeProcessStatusResultMap">
		select notice_process_status_id,  notice_process_status_desc
		  from notice_process_status
	</select>
	
	<select id="getAllNoticePaperApplyType" resultMap="NoticePaperApplyTypeResultMap">
		select notice_paper_apply_type_id,  notice_paper_apply_type_desc
		  from notice_paper_apply_types
	</select>	
	
	<select id="getAllNoticeType" resultType="NoticeType">
		select notice_type_id as noticeTypeId,  notice_type_desc as noticeTypeDescription
		  from notice_types
	</select>
	
	<update id="batchUpdateNoticesNoticePaperType">
		update notices set paper_apply_type = #{noticePaperApplyType}
		 where notice_id in 
		<foreach item="noticeId" collection="noticeIdList" open="(" separator="," close=")">
			#{noticeId}
		</foreach>		 
	</update>
	
	<select id="getUserNoticeCountByType" resultType="map">
		select IFNULL(p.patent_type, 0) patentType,count(*) noticeCount
		  from notices n join patents p on n.patent = p.patent_id
		  	left join patent_status ps on p.patent_status = ps.patent_status_id
		 where patent in (select patent from user_patents where user = #{userId} and trash_status=1) and n.process_status=1
		 GROUP BY p.patent_type
		 
	</select>
	
	<select id="getUserNoticeCountByNoticeType" resultType="map">
		select n.notice_type noticeType,count(*) noticeCount
		  from notices n join patents p on n.patent = p.patent_id
		  	left join patent_status ps on p.patent_status = ps.patent_status_id
		 where patent in (select patent from user_patents where user = #{userId} and trash_status=1) and n.process_status=1	
		 GROUP BY n.notice_type
	</select>
	
	<select id="getUserNoticeCountByProcessStatus" resultType="map">
		select n.process_status processStatus,count(*) noticeCount
		  from notices n join patents p on n.patent = p.patent_id
		  	left join patent_status ps on p.patent_status = ps.patent_status_id
		 where patent in (select patent from user_patents where user = #{userId} and trash_status=1)
		 GROUP BY n.process_status
	</select>
	
	<select id="getUserNoticeCountByPaperApplyType" resultType="map">
		select n.paper_apply_type paperApplyType,count(*) noticeCount
		  from notices n join patents p on n.patent = p.patent_id
		  	left join patent_status ps on p.patent_status = ps.patent_status_id
		 where patent in (select patent from user_patents where user = #{userId} and trash_status=1)	
		 GROUP BY n.paper_apply_type
	</select>
	
	<select id="getUserNoticeCountByRemainDay" resultType="map">
		select 
			case 
			<![CDATA[when time_limit - datediff(curdate(), dispatch_date) < 0 then 1]]>
			when time_limit - datediff(curdate(), dispatch_date) between 0 and 7 then 2
			when time_limit - datediff(curdate(), dispatch_date) between 8 and 14 then 3
			when time_limit - datediff(curdate(), dispatch_date) between 15 and 30 then 4
			else 5
		end as remain_day_type, count(*)
  		from notices n 
 		where n.patent in (select patent from user_patents where user =#{userid} and trash_status=1) and n.process_status=1
 		group by remain_day_type
	</select>	
	
	<select id="getNoticeRemarks" parameterType="string" resultMap="noticeRemarkResultMap">
		SELECT  remark_id, notice_id , create_time, content,u.username as username FROM notice_remarks nr
		join users u on u.user_id = nr.user_id
		WHERE notice_id=#{noticeId}	order by create_time desc
	</select>
	
	<insert id="addNoticeRemark">
		INSERT INTO notice_remarks(create_time,content,notice_id,user_id)
		values(now(),#{content},#{noticeId},#{userId})				
	</insert>
	
	<update id="updatePatentDocByInternalCode" parameterType="Notice">
		update patent_documents set app_no=#{patent.appNo},app_date=#{patent.appDate} where internal_code=#{patent.internalCode}
	</update>
	
	<select id="getUserNoticesByIds" resultMap="NoticeResultMap">
		select un.*, u.user_id as share_user_id,  u.username as share_username
		from (select p.patent_id, p.app_no, p.patent_name, p.app_person, ps.patent_status_id,p.patent_status_text, ps.patent_status_desc as patent_status_description,
				n.notice_id,n.notice_name,  n.notice_sequence, n.dispatch_sequence, n.dispatch_date,
				if(n.time_limit - datediff(curdate(), n.dispatch_date) >= 0, n.time_limit - datediff(curdate(), n.dispatch_date), -1)  as remain_days,
				n.notice_code, n.zip_bid, n.dmh_flag, n.archive_no, n.zipfile_name,
				npt.notice_paper_apply_type_id as paper_type_id, npt.notice_paper_apply_type_desc as paper_type_description, 
				nps.notice_process_status_id, nps.notice_process_status_desc, n.process_user as process_user_id, pu.username as process_username
				from patents p left join patent_status ps on p.patent_status = ps.patent_status_id
						join notices n on n.patent = p.patent_id
						left join users pu on pu.user_id = n.process_user
						join notice_paper_apply_types npt on n.paper_apply_type = npt.notice_paper_apply_type_id
						join notice_process_status nps on nps.notice_process_status_id = n.process_status
			 where n.patent in (select patent from user_patents where n.notice_id in
				 <foreach item="noticeId" collection="noticeIds"
				     open="(" separator="," close=")">
				   #{noticeId}
				</foreach>) 
			  ) as un
			join user_patents up on un.patent_id = up.patent
		  	join users u on up.user = u.user_id	
	</select>
	
	
	<insert id="batchChangeNoticeViewStatus" parameterType="list">
		replace into notice_read(notice_id, user_id) 
		values
		<foreach item="noticeIdList" collection="list" separator=",">
			(#{noticeIdList.noticeId}, #{noticeIdList.userId})
		</foreach>
	</insert>
	
	<select id="unreadNoticeList" parameterType="Page" resultMap="NoticeResultMap">
		select un.*, u.user_id as share_user_id,  u.username as share_username
		from (select p.patent_id, p.app_no, p.patent_name,p.patent_status_text, p.app_person, ps.patent_status_id, ps.patent_status_desc as patent_status_description,
				n.notice_id,n.notice_name, n.notice_sequence, n.dispatch_sequence, n.dispatch_date,
				if(n.time_limit - datediff(curdate(), n.dispatch_date) >= 0, n.time_limit - datediff(curdate(), n.dispatch_date), -1)  as remain_days,
				n.notice_code, n.zip_bid, n.dmh_flag, n.archive_no, n.zipfile_name,
				npt.notice_paper_apply_type_id as paper_type_id, npt.notice_paper_apply_type_desc as paper_type_description, 
				nps.notice_process_status_id, nps.notice_process_status_desc, n.process_user as process_user_id, pu.username as process_username,
				nvl.notice_id AS notice_view_status
				from patents p left join patent_status ps on p.patent_status = ps.patent_status_id
						join notices n on n.patent = p.patent_id
						LEFT JOIN notice_read nvl ON n.notice_id=nvl.notice_id and nvl.user_id = #{userId}
						left join users pu on pu.user_id = n.process_user
						join notice_paper_apply_types npt on n.paper_apply_type = npt.notice_paper_apply_type_id
						join notice_process_status nps on nps.notice_process_status_id = n.process_status
			 where n.patent in (select patent from user_patents where user = #{userId} and trash_status=1)
				and nvl.notice_id is  null		 
			  order by nvl.notice_id,nps.notice_process_status_id, n.dispatch_date desc, p.app_no
				limit #{startIndex}, #{pageSize}) as un
			join user_patents up on un.patent_id = up.patent
		  	join users u on up.user = u.user_id		
	</select>
	
	
	
	
	
	<select id="unreadNoticeCount" resultType="int">
		select count(*) 
		  from notices n join patents p on n.patent = p.patent_id
		  LEFT JOIN notice_read nvl ON n.notice_id=nvl.notice_id and nvl.user_id = #{userId}
		  	left join patent_status ps on p.patent_status = ps.patent_status_id
		 where patent in (select patent from user_patents where user = #{userId} and trash_status=1)	
		and nvl.notice_id is  null					 			 		 
	</select>	
</mapper>