<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lotut.pms.dao.mapper.PatentOfficeAccountMapper">
	<resultMap type="patentOfficeAccount" id="patentOfficeAccountResultMap">
		<id property="accountId" column="account_id"/>
		<result property="userId" column="user"/>
		<result property="name" column="name"/>
		<result property="username" column="username"/>
		<result property="password" column="password"/>
		<result property="patentUpdateTime" column="patent_update_time"/>
	</resultMap>
	

	<select id="getUserAccounts" parameterType="int" resultMap="patentOfficeAccountResultMap">
		select account_id, user,name,username,password,patent_update_time
		  from patent_office_accounts
		 <if test="_parameter != null">
		 where user = #{userId}
		 </if>
	</select>
	
	<delete id="deleteOfficeAccount">
		delete from patent_office_accounts where account_id = #{accountId} 
	</delete>
	
	<update id="updateOfficeAccount" parameterType="PatentOfficeAccount">
		update patent_office_accounts set name=#{name},username=#{username},
			password=#{password} where account_id=#{accountId}
	</update>
	
	<select id="getById" resultMap="patentOfficeAccountResultMap">
		select name,username,password,account_id,user,patent_update_time from patent_office_accounts 
		where account_id = #{accountId}
	</select>
	
	<select id="getAllAccount" resultMap="patentOfficeAccountResultMap">
		select name,username,password,account_id,user,patent_update_time from patent_office_accounts order by 
		patent_update_time ASC
	</select>
	
	<insert id="addOfficeAccount" parameterType="PatentOfficeAccount" >
		insert into patent_office_accounts(user, name, username, password, patent_update_time)
		values(#{userId}, #{name},#{username}, #{password},now())				
	</insert>
	
	<update id="updatePatentsTime" parameterType="long">
		UPDATE patent_office_accounts SET patent_update_time=NOW() WHERE account_id=#{accountId};
	</update>
</mapper>