<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lotut.pms.dao.mapper.PatentDocumentTemplateMapper">
	<resultMap id="patentDocTemplateListMap" type="PatentDocumentTemplate">
		<id column="template_id" property="templateId"/>
		<result column="template_title" property="templateTitle"/>
		<result column="content" property="content"/>
		<result column="create_time" property="createTime"/>
		<result column="last_update_time" property="lastUpdateTime"/>
		<result column="creator_id" property="creatorId"/>
		<association property="patentType" javaType="PatentType">
			<id column="patent_type" property="patentTypeId"/>
			<result column="patent_type_desc" property="typeDescription"/>
		</association>
		<association property="patentDocSectionType" javaType="PatentDocSectionType">
			<id column="patent_doc_section" property="patentDocSectionId"/>
			<result column="patent_doc_section_desc" property="patentDocSectionDesc"/> 
		</association>
	</resultMap>
	<resultMap id="patentDocSectionTypeMap" type="PatentDocSectionType">
		<id column="patent_doc_section_id" property="patentDocSectionId"/>
		<result column="patent_doc_section_desc" property="patentDocSectionDesc"/>
	</resultMap>


	<insert id="savePatentDocumentTemplate" parameterType="PatentDocumentTemplate" >
		insert into patent_document_templates(content,template_title,patent_type,patent_doc_section,creator_id)
		values(#{content},#{templateTitle},#{patentType.patentTypeId},#{patentDocSectionType.patentDocSectionId},#{creatorId})
	</insert>
	
	
	
	<select id="getPatentDocTemplateListByUserId" resultMap="patentDocTemplateListMap">
		select pdt.template_id,pdt.patent_type,pt.patent_type_desc,pdt.patent_doc_section,pdst.patent_doc_section_desc,pdt.template_title,pdt.content,pdt.create_time,pdt.last_update_time,pdt.creator_id  
		  from patent_document_templates pdt LEFT JOIN patent_types pt ON pdt.patent_type = pt.patent_type_id LEFT JOIN patent_doc_section_types pdst ON pdt.patent_doc_section = pdst.patent_doc_section_id 
		     LEFT JOIN users u ON pdt.creator_id = u.user_id
 			   where pdt.creator_id = #{userId} and pdt.patent_doc_section = #{patentDocSectionId}
	</select>
	
	<select id="getPatentDocSectionTypes" resultMap="patentDocSectionTypeMap">
		select patent_doc_section_id,patent_doc_section_desc from patent_doc_section_types
	</select>
	
	<select id="findTemplateDocByTemplateId" resultMap="patentDocTemplateListMap">
		select pdt.template_id,pdt.patent_type,pt.patent_type_desc,pdt.patent_doc_section,pdst.patent_doc_section_desc,pdt.template_title,pdt.content,pdt.create_time,pdt.last_update_time,pdt.creator_id  
		  from patent_document_templates pdt LEFT JOIN patent_types pt ON pdt.patent_type = pt.patent_type_id LEFT JOIN patent_doc_section_types pdst ON pdt.patent_doc_section = pdst.patent_doc_section_id 
		     LEFT JOIN users u ON pdt.creator_id = u.user_id
 			   where pdt.template_id = #{templateId}
	</select>
	
	<update id="updateTemplateDoc" parameterType="PatentDocumentTemplate">
		update patent_document_templates set template_title = #{templateTitle},content = #{content} where template_id = #{templateId};
	</update>
	
	<delete id="deleteTemplateDoc">
		delete from patent_document_templates where template_id = #{templateId};
	</delete>
	
	<select id="getTemplateList" resultMap="patentDocTemplateListMap">
		select pdt.template_id,pdt.content,pdt.template_title,pdt.patent_doc_section,pdst.patent_doc_section_desc from patent_document_templates pdt LEFT JOIN patent_doc_section_types pdst ON pdt.patent_doc_section = pdst.patent_doc_section_id
		where patent_doc_section = #{sectionId} and pdt.patent_type=#{patentType} limit 0,#{pageSize};
	</select>
	
	<select id="getTemplateListByPage"  parameterType="TemplatePage" resultMap="patentDocTemplateListMap">
		select pdt.template_id,pdt.content,pdt.template_title,pdt.patent_doc_section,pdst.patent_doc_section_desc from patent_document_templates pdt LEFT JOIN patent_doc_section_types pdst ON pdt.patent_doc_section = pdst.patent_doc_section_id
		where patent_doc_section = #{sectionId} and pdt.patent_type=#{patentType} limit #{startIndex},#{pageSize};
	</select>
	
	<select id="getTemlateSizeBySectionId" resultType="int">
		select count(*) from patent_document_templates where patent_doc_section=#{sectionId} and patent_type=#{patentType};
	</select>
</mapper>