<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.lotut.pms.dao.mapper.PatentDocWorkflowHistoryMapper">
  		<resultMap type="PatentDocAction" id="PatentDocActionMap">
  			<id property="actionId" column="action_id"/>
			<result property="actionTypeDesc" column="action_type_desc"/>
  		</resultMap>
  		<resultMap type="PatentDocWorkflowHistory" id="PatentDocWorkflowHistoryMap">
  			<id property="historyId" column="history_id"/>
  			<result property="patentDocId"  column="patent_doc_id" />
  			<result property="actionTime"  column="action_time" />
  			<association property="owner" resultMap="com.lotut.pms.dao.mapper.UserMapper.UserResultMap"/>
  			<association property="patentDocAction" resultMap="PatentDocActionMap">
			</association>
  			<collection property="shareUsers" ofType="User">
				<id property="userId" column="share_user_id"/>
				<result property="username" column="share_username"/>
			</collection>		
  		</resultMap>
  
  		<resultMap type="SharePatentDoc" id="SharePatentDocMap">
  			<result property="patentDoc" column="patent_doc" />
  			<association property="shareBy" resultMap="com.lotut.pms.dao.mapper.UserMapper.UserResultMap" />
  			<association property="shareTo" resultMap="com.lotut.pms.dao.mapper.UserMapper.UserResultMap" />
  		</resultMap>
  	
  	<insert id="insertWorkflowTargets" parameterType="list" >
  		replace into patent_doc_workflow_target(history,target,patent_doc)
  		values
  		<foreach item="patentDocWorkflowTargetRecord" collection="list" separator=",">
			(#{patentDocWorkflowTargetRecord.history},#{patentDocWorkflowTargetRecord.target}, #{patentDocWorkflowTargetRecord.patentDoc})
		</foreach>
  	</insert>
  
	<insert id="insertHistories"  parameterType="list">
		insert into patent_doc_workflow_history(patent_doc_id,user_id,ACTION,action_time)
		values
		<foreach item="patentDocWorkflowHistoryRecord" collection="list" separator=",">
			(#{patentDocWorkflowHistoryRecord.patentDocId},#{patentDocWorkflowHistoryRecord.userId}, #{patentDocWorkflowHistoryRecord.action},now())
		</foreach>
	</insert>
	
	<select id="getPatentDocWorkflowHistoryByUserAndAction" resultMap="PatentDocWorkflowHistoryMap">
		select history_id,patent_doc_id,user_id,ACTION,action_time from patent_doc_workflow_history  where 
		user_id =(#{userId}) and ACTION= (#{action}) and action_time =now()
	
	</select>
	
	<select id="getHistoryByPatentDocId" parameterType="int" resultMap="PatentDocWorkflowHistoryMap">
		SELECT un.*,u.user_id as share_user_id , u.username AS share_username FROM 
		(SELECT h.history_id,h.user_id,r.username,h.patent_doc_id ,h.ACTION as action_id ,a.action_type_desc as action_type_desc , 
		h.action_time,t.target FROM patent_doc_workflow_history h left join patent_doc_workflow_target t  
		on h.history_id = t.history and h.patent_doc_id = t.patent_doc 
		 JOIN patent_doc_workflow_action a ON h.ACTION = a.action_id JOIN users r ON h.user_id = r.user_id where 
		 patent_doc_id=(#{patentDocId}) )as un left join users u on un.target=u.user_id 
	</select>
	
	<insert id="insertSharePatentDocs" parameterType="list">
		replace into share_patent_docs(patent_doc, share_by, share_to) 
		values
		<foreach item="shareRecord" collection="list" separator=",">
			(#{shareRecord.patentDoc}, #{shareRecord.shareBy}, #{shareRecord.shareTo})
		</foreach>
	</insert>
	
	 </mapper>