<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper  namespace="com.lotut.pms.dao.mapper.PatentDocMapper">
<!-- 	<insert id="saveEditorText" parameterType="Editor">
		insert into editor(editor_content) values(#{editorContent,javaType=string,jdbcType=CLOB});
	</insert> -->
	
	
	<resultMap type="PatentDoc" id="PatentDocMap">
		<id property="patentDocsId" column="patent_docs_id"/>
		<result property="appNo" column="app_no"/>
		<result property="userId" column="user_id"/>
		<result property="patentType" column="patent_type"/>
		<result property="createTime" column="create_time"/>
		<result property="lastUpdateTime" column="last_update_time"/>
		<result property="name" column="patent_name"/>
		<result property="techDomain" column="tech_domain"/>
		<result property="backgoundTech" column="background_tech"/>
		<result property="contentProblem" column="content_problem"/>
		<result property="contentRight" column="content_right"/>
		<result property="contentEffect" column="content_effect"/>
		<result property="implementWay" column="implement_way"/>
		<result property="rightClaim" column="right_claim"/>
		<result property="abstractDescription" column="abstract_desc"/>
	</resultMap>
	
	
 	<insert id="savePatentDoc" parameterType="PatentDoc">
		insert into patent_documents(app_no,user_id,patent_type,create_time,patent_name,tech_domain,background_tech,content_problem,content_right,content_effect,
		implement_way,right_claim,abstract_desc) values
		(#{appNo,javaType=string,jdbcType=VARCHAR},#{userId},#{patentType},now(),#{name},#{techDomain,javaType=string,jdbcType=CLOB},#{backgoundTech,javaType=string,jdbcType=CLOB},#{contentProblem,javaType=string,jdbcType=CLOB},#{contentRight,javaType=string,jdbcType=CLOB},#{contentEffect,javaType=string,jdbcType=CLOB},
		#{implementWay,javaType=string,jdbcType=CLOB},#{rightClaim,javaType=string,jdbcType=CLOB},#{abstractDescription,javaType=string,jdbcType=CLOB});
	</insert>
	
	<select id="getUserPatentDoc"  resultMap="PatentDocMap">
		select patent_docs_id,app_no,patent_type,create_time,last_update_time,patent_name,tech_domain,background_tech,content_problem,content_right,content_effect,
		implement_way,right_claim,abstract_desc from patent_documents where user_Id=#{userId}
	</select> 
	
	
	<select id="getUserPatentDocById"  resultMap="PatentDocMap">
		select patent_docs_id,app_no,patent_type,create_time,last_update_time,patent_name,tech_domain,background_tech,content_problem,content_right,content_effect,
		implement_way,right_claim,abstract_desc from patent_documents where  patent_docs_id=#{patentDocsId}
	</select>
	
	<update id="updatePatentDoc" parameterType="PatentDoc">
		update patent_documents set app_no=#{appNo,javaType=string,jdbcType=VARCHAR},user_id=#{userId},patent_name=#{name},tech_domain=#{techDomain,javaType=string,jdbcType=CLOB},
		background_tech=#{backgoundTech,javaType=string,jdbcType=CLOB},content_problem=#{contentProblem,javaType=string,jdbcType=CLOB},content_right=#{contentRight,javaType=string,jdbcType=CLOB},content_effect=#{contentEffect,javaType=string,jdbcType=CLOB},
		implement_way=#{implementWay,javaType=string,jdbcType=CLOB},right_claim=#{rightClaim,javaType=string,jdbcType=CLOB},abstract_desc=#{abstractDescription,javaType=string,jdbcType=CLOB}
		where  patent_docs_id=#{patentDocsId}
	</update> 
	
	<delete id="deletePatentDoc">
		delete  from  patent_documents  where  patent_docs_id=#{patentDocsId} 
	</delete>
</mapper>