<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.lotut.pms.dao.mapper.PetitionMapper">
	<select id="findAppPersonNameById" resultType="CommonAppPerson">
  		select app_person_id as appPersonId,name as name,id_number as idNumber,
  		postcode_address as postcodeAddress,other_information as otherInfo,transaction_identity_id as transactionIdentityId,
  		fee_reduce_transaction_status as feeReduceTransactionStatus,transaction_year as transactionYear from common_app_person 
  		where user_id=#{userId} and app_person_id in
  		<foreach collection="appPersonIds" item="appPersonId" open="(" separator="," close=")">
			#{appPersonId}
		</foreach>
  	</select>
  	
  	<select id="findInventorNameById" resultType="CommonInventor">
		select inventor_id as inventorId ,inventor_name as inventorName,inventor_id_number as inventorNumber,
		inventor_nationality as inventorNationality,inventor_mobile as inventorMobile,inventor_email as inventorEmail,
		inventor_other_information as inventorComment,user_id  as userId
		from common_inventor where user_id=#{userId} and inventor_id in 
		<foreach collection="inventorIds" item="inventorId" open="(" separator="," close=")">
			#{inventorId}
		</foreach>
	</select>
	
	<insert id="addCommonAppPerson" parameterType="CommonAppPerson"  useGeneratedKeys="true" keyProperty="appPersonId">
	  	insert into common_app_person(name,id_number,postcode_address,other_information,user_id) 
	  	values(#{name},#{idNumber},#{postcodeAddress},#{otherInfo},#{userId})

  	</insert>
  	
  	<insert id="addCommonInventor" parameterType="CommonInventor" useGeneratedKeys="true" keyProperty="inventorId">
		insert into common_inventor (inventor_name,inventor_id_number,inventor_nationality,inventor_mobile,inventor_email,inventor_other_information
		,user_id)
		values(#{inventorName},#{inventorNumber},#{inventorNationality},#{inventorMobile},#{inventorEmail},#{inventorComment},#{userId})
	
	</insert>
	
	<select id="findContactNameById" resultType="ContactAddress">
<!-- 		select id,receiver from contact_addresses where user=#{userId} and id in
		<foreach collection="contactIds" item="contactId" open="(" separator="," close=")">
			#{contactId}
		</foreach>
		 -->
		select ca.id, ca.receiver, ca.province, p.name as provinceName, ca.city, c.name as cityName,
				ca.district, d.name as districtName,
					 ca.detail_address as detailAddress, ca.phone, ca.email, ca.is_default defaultAddress
		 from contact_addresses ca join provinces p on ca.province = p.id
			join cities c on ca.city = c.id join districts d on ca.district = d.id
		 where ca.user = #{userId} and ca.id in
		<foreach collection="contactIds" item="contactId" open="(" separator="," close=")">
			#{contactId}
		</foreach>
		
	</select>
	
	<insert id="addPatentDocAppPerson" >
		insert into patent_doc_app_person(patent_doc_id,name,id_number,postcode_address,other_information,transaction_identity,fee_reduce_transaction_status,transaction_year,user_id) values
		<foreach collection="commonAppPersons" item="commonAppPerson" separator=",">
			(#{patentDocId},#{commonAppPerson.name},#{commonAppPerson.idNumber},#{commonAppPerson.postcodeAddress},#{commonAppPerson.otherInfo},#{commonAppPerson.transactionIdentityId},#{commonAppPerson.feeReduceTransactionStatus},#{commonAppPerson.transactionYear},#{userId})
		</foreach>
	</insert>

	<select id="findPatentDocAppPersonById" resultType="PatentDocAppPerson">
		select person_id as personId,patent_doc_id as patentDocId,name,id_number as idNumber,postcode_address as postcodeAddress,other_information as otherInformation,transaction_identity as transactionIdentity,
    		fee_reduce_transaction_status as feeReduceTransactionStatus,transaction_year as transactionYear,user_id as userId from patent_doc_app_person
    		where patent_doc_id=#{patentDocId};
		
	</select>
  </mapper>
  