<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.lotut.pms.dao.mapper.PetitionMapper">
	
	<select id="checkAppPerson" resultType="int">
		select count(*) from petition_applicant where app_person_id=#{appPersonId} and patent_doc_id=#{patentDocId}
	</select>
	<select id="checkInventor" resultType="int">
		select count(*) from petition_inventors where inventor_id=#{inventorId} and patent_doc_id=#{patentDocId}
	</select>
  </mapper>
  