<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.lotut.pms.dao.mapper.ProposerMapper">
  
  <insert id="addProposer" >
  	insert into common_proposer(proposer_name,proposer_type,proposer_id_nubmer,proposer_postcode_address,proposer_other_information,user_id) 
  	values(#{proposerName},#{proposerType},#{proposerPeopleNubmer},#{postcodeAddress},#{otherInfo},#{useId})
  
  </insert>
  
  </mapper>
  