<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.lotut.pms.dao.mapper.ProposerMapper">

  <insert id="addProposer" parameterType="CommonProposer" >
  	insert into common_proposer(proposer_name,proposer_type,proposer_id_nubmer,proposer_postcode_address,proposer_other_information,user_id) 
  	values(#{proposerName},#{proposerType},#{proposerPeopleNubmer},#{postcodeAddress},#{otherInfo},#{userId})
  
  </insert>
  
  	<resultMap type="ProposerType" id="ProposerTypeMap">
  		<id property="proposerTypeId" column="proposer_type_id"/>
		<result property="proposerTypeDescription" column="proposer_type_desc"/>
  	</resultMap>
  	
  	<select id="getProposerTypes" resultMap="ProposerTypeMap">
  		select proposer_type_id,proposer_type_desc from proposer_types
  	
  	</select>
  	
  	<select id="getAllProposerByUser" parameterType="int" resultType="CommonProposer">
  		select p.proposer_id as proposerId,p.proposer_type as proposerType,p.proposer_name as proposerName,t.proposer_type_desc as proposerTypeName,p.proposer_id_nubmer as proposerPeopleNubmer,
  		p.proposer_postcode_address as postcodeAddress,p.proposer_other_information as otherInfo from common_proposer p 
  		join proposer_types t on p.proposer_type=t.proposer_type_id where user_Id=#{userId}
  		
  	</select>
  	
  	<select id="getOneProposerByid"	parameterType="int" resultType="CommonProposer">
  		select p.proposer_id as proposerId,p.proposer_type as proposerType,  p.proposer_name as proposerName,t.proposer_type_desc as proposerTypeName,p.proposer_id_nubmer as proposerPeopleNubmer,
  		p.proposer_postcode_address as postcodeAddress,p.proposer_other_information otherInfo from common_proposer p 
  		join proposer_types t on p.proposer_type=t.proposer_type_id where p.proposer_id=#{proposerId}
  	</select>
  	
  	<update id="updateProposer" parameterType="CommonProposer">
  		update common_proposer  set proposer_name=#{proposerName},proposer_type=#{proposerType},proposer_id_nubmer=#{proposerPeopleNubmer},
  		proposer_postcode_address=#{postcodeAddress},proposer_other_information=#{otherInfo}
  		where proposer_id=#{proposerId}
  		
  	</update>
  	
  	<delete id="deleteProposerById" parameterType="int">
  		delete from common_proposer where proposer_id =#{proposerId}
  	</delete>
  </mapper>
  