<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lotut.pms.dao.mapper.ShareAppPersonMapper">
	<insert id="insertUserAppPersons" parameterType="list">
		replace into user_app_person(user, app_person) 
		values
		<foreach item="userAppPersonRecord" collection="list" separator=",">
			(#{userAppPersonRecord.user}, #{userAppPersonRecord.appPerson})
		</foreach>
	</insert>	
	
	
</mapper>