<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lotut.pms.dao.mapper.UserMapper">
	<resultMap type="User" id="UserResultMap">
		<id property="userId" column="user_id"/>
		<result property="username" column="username"/>
		<result property="name" column="name"/>
		<result property="email" column="email"/>
	</resultMap>
	
	<select id="getAllUsers" resultMap="UserResultMap">
		select user_id, username, name from users;
	</select>
	<!-- 查找用户 -->
	<select id="findByName" parameterType="string" resultType="User">
		select * from users where username=#{username}
	</select>
	<!-- 注册方法 -->
	<insert id="save" parameterType="User">
		insert into users(username,name,password,email) values(#{username},#{name},#{password},#{email});
		insert into group_members(username, group_id) values(#{username}, 1)
	</insert>
	<!-- 修改方法 -->
	<update id="update" parameterType="User">
		update users set password=#{password} where user_id=#{user_id}
	</update>
</mapper>